
      <div class="navbar navbar-tshop navbar-fixed-top megamenu" role="navigation">
        <div class="navbar-top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-sm-6 col-xs-6 col-md-6">
                        <div class="pull-left ">
                            <ul class="userMenu ">



                                <li class="phone-number">
                                    <a href="callto:+21670733513"> <span> <i
                                                class="glyphicon glyphicon-phone-alt "></i></span>
                                        <span class="hidden-xs" style="margin-left:5px"> +216 70 733 513 </span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-6 col-xs-6 col-md-6 no-margin no-padding">
                        <div class="pull-right">
                            <ul class="userMenu">
                                {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                                <li><a href="{{ path("compte") }}"><span class="hidden-xs"> Mon Compte</span> <i
                                            class="glyphicon glyphicon-user hide visible-xs "></i></a></li>
                                            <li><a href="{{path('logout_user', {'boutique': app.session.get('boutique').raisonsociale })}}"><span class="hidden-xs"> Logout</span> <i
                                            class="glyphicon glyphicon-user hide visible-xs "></i></a></li>
                                            {% else %}
                                            <li>
                                                <a href="#" data-toggle="modal" data-target="#ModalLogin">
                                                    <span class="hidden-xs">Connexion</span>
                                                    <i class="glyphicon glyphicon-log-in hide visible-xs "></i>
                                                </a>
                                            </li>
                                <li class="hidden-xs"><a href="#" data-toggle="modal" data-target="#ModalSignup">
                                        Inscription</a></li>
                             {% endif %}
                               
                              
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/.navbar-top-->

        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span
                        class="sr-only"> Toggle navigation </span> <span class="icon-bar"> </span> <span
                        class="icon-bar"> </span> <span class="icon-bar"> </span></button>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-cart"><i
                        class="fa fa-shopping-cart colorWhite"> </i> <span class="cartRespons colorWhite"> Cart (Dt
                        210.00) </span></button>
                <a class="navbar-brand " href="{{ path('homepage_frontend', {'boutique': app.session.get('boutique').raisonsociale }) }}" id="nomBoutique"> {{ boutique.raisonsociale }}</a>

                <!-- this part for mobile -->
                <div class="search-box pull-right hidden-lg hidden-md hidden-sm">
                    <div class="input-group">
                        <button class="btn btn-nobg getFullSearch" type="button"><i class="fa fa-search"> </i></button>
                    </div>
                    <!-- /input-group -->

                </div>
            </div>

            <!-- this part is duplicate from cartMenu  keep it for mobile -->
            <div class="navbar-cart  collapse">
                <div class="cartMenu  col-lg-4 col-xs-12 col-md-4 ">
                    <div class="w100 miniCartTable scroll-pane">
                        <table>
                            <tbody>
                                <tr class="miniCartProduct">
                                    <td style="width:20%" class="miniCartProductThumb">
                                        <div><a href="product-details.html"> <img src="images/product/3.jpg" alt="img">
                                            </a>
                                        </div>
                                    </td>
                                    <td style="width:40%">
                                        <div class="miniCartDescription">
                                            <h4><a href="product-details.html"> TSHOP T shirt Black </a></h4>
                                            <span class="size"> 12 x 1.5 L </span>

                                            <div class="price"><span> Dt 8.80 </span></div>
                                        </div>
                                    </td>
                                    <td style="width:10%" class="miniCartQuantity"><a> X 1 </a></td>
                                    <td style="width:15%" class="miniCartSubtotal"><span> Dt 8.80 </span></td>
                                    <td style="width:5%" class="delete"><a> x </a></td>
                                </tr>
                                <tr class="miniCartProduct">
                                    <td style="width:20%" class="miniCartProductThumb">
                                        <div><a href="product-details.html"> <img src="images/product/2.jpg" alt="img">
                                            </a>
                                        </div>
                                    </td>
                                    <td style="width:40%">
                                        <div class="miniCartDescription">
                                            <h4><a href="product-details.html"> TSHOP T shirt Black </a></h4>
                                            <span class="size"> 12 x 1.5 L </span>

                                            <div class="price"><span> Dt 8.80 </span></div>
                                        </div>
                                    </td>
                                    <td style="width:10%" class="miniCartQuantity"><a> X 1 </a></td>
                                    <td style="width:15%" class="miniCartSubtotal"><span> Dt 8.80 </span></td>
                                    <td style="width:5%" class="delete"><a> x </a></td>
                                </tr>
                                <tr class="miniCartProduct">
                                    <td style="width:20%" class="miniCartProductThumb">
                                        <div><a href="product-details.html"> <img src="images/product/5.jpg" alt="img">
                                            </a>
                                        </div>
                                    </td>
                                    <td style="width:40%">
                                        <div class="miniCartDescription">
                                            <h4><a href="product-details.html"> TSHOP T shirt Black </a></h4>
                                            <span class="size"> 12 x 1.5 L </span>

                                            <div class="price"><span> Dt 8.80 </span></div>
                                        </div>
                                    </td>
                                    <td style="width:10%" class="miniCartQuantity"><a> X 1 </a></td>
                                    <td style="width:15%" class="miniCartSubtotal"><span> Dt 8.80 </span></td>
                                    <td style="width:5%" class="delete"><a> x </a></td>
                                </tr>
                                <tr class="miniCartProduct">
                                    <td style="width:20%" class="miniCartProductThumb">
                                        <div><a href="product-details.html"> <img src="images/product/3.jpg" alt="img">
                                            </a>
                                        </div>
                                    </td>
                                    <td style="width:40%">
                                        <div class="miniCartDescription">
                                            <h4><a href="product-details.html"> TSHOP T shirt Black </a></h4>
                                            <span class="size"> 12 x 1.5 L </span>

                                            <div class="price"><span> Dt 8.80 </span></div>
                                        </div>
                                    </td>
                                    <td style="width:10%" class="miniCartQuantity"><a> X 1 </a></td>
                                    <td style="width:15%" class="miniCartSubtotal"><span> Dt 8.80 </span></td>
                                    <td style="width:5%" class="delete"><a> x </a></td>
                                </tr>
                                <tr class="miniCartProduct">
                                    <td style="width:20%" class="miniCartProductThumb">
                                        <div><a href="product-details.html"> <img src="images/product/3.jpg" alt="img">
                                            </a>
                                        </div>
                                    </td>
                                    <td style="width:40%">
                                        <div class="miniCartDescription">
                                            <h4><a href="product-details.html"> TSHOP T shirt Black </a></h4>
                                            <span class="size"> 12 x 1.5 L </span>

                                            <div class="price"><span> Dt 8.80 </span></div>
                                        </div>
                                    </td>
                                    <td style="width:10%" class="miniCartQuantity"><a> X 1 </a></td>
                                    <td style="width:15%" class="miniCartSubtotal"><span> Dt 8.80 </span></td>
                                    <td style="width:5%" class="delete"><a> x </a></td>
                                </tr>
                                <tr class="miniCartProduct">
                                    <td style="width:20%" class="miniCartProductThumb">
                                        <div><a href="product-details.html"> <img src="images/product/4.jpg" alt="img">
                                            </a>
                                        </div>
                                    </td>
                                    <td style="width:40%">
                                        <div class="miniCartDescription">
                                            <h4><a href="product-details.html"> TSHOP T shirt Black </a></h4>
                                            <span class="size"> 12 x 1.5 L </span>

                                            <div class="price"><span> Dt 8.80 </span></div>
                                        </div>
                                    </td>
                                    <td style="width:10%" class="miniCartQuantity"><a> X 1 </a></td>
                                    <td style="width:15%" class="miniCartSubtotal"><span> Dt 8.80 </span></td>
                                    <td style="width:5%" class="delete"><a> x </a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!--/.miniCartTable-->

                    <div class="miniCartFooter  miniCartFooterInMobile text-right">
                        <h3 class="text-right subtotal"> Total: 210 Dt </h3>
                        <a class="btn btn-sm btn-danger" href="cart.html"> <i class="fa fa-shopping-cart"> </i> PANIER
                        </a> <a href="checkout-0.html" class="btn btn-sm btn-primary"> CHECK-OUT </a>
                    </div>
                    <!--/.miniCartFooter-->

                </div>
                <!--/.cartMenu-->
            </div>
            <!--/.navbar-cart-->

            <div class="navbar-collapse collapse">


                <!--- this part will be hidden for mobile version -->
                <div class="nav navbar-nav navbar-right hidden-xs">
                    <div class="dropdown  cartMenu "><a href="#" class="dropdown-toggle" data-toggle="dropdown"> <i
                                class="fa fa-shopping-cart"> </i> <span class="cartRespons"> Panier </span>
                            <b class="caret"> </b> </a>

                        <div class="dropdown-menu col-lg-4 col-xs-12 col-md-4 ">
                            <div class="w100 miniCartTable scroll-pane">
                                <table>
                                    <tbody>                              
                                   {% set total_price = 0 %}
                                {% for article in articles %}
                                    {% set nb_article = panier[article.id] %}
                                    <tr class="miniCartProduct product-{{ article.id }}">
                                        <td style="width:20%" class="miniCartProductThumb">
                                            <div><a href="{{ path('show_produit',{"id":article.id}) }}"> <img class="lazy"
                                                                                      src="/assets/img/default.jpeg"
                                                                                      data-original="/uploads/produits/{{ article.image }}"
                                                                                      alt="{{ article.nom }}">
                                                </a></div>
                                        </td>
                                        <td style="width:40%">
                                            <div class="miniCartDescription">
                                                <h4><a href="{{ path('show_produit',{"id":article.id}) }}" >{{ article.nom }} </a></h4>
                                                <div class="price"><span > {{ article.prix|number_format(3, '.', ',') }} DT <TTC></TTC></span></div>
                                            </div>
                                        </td>
                                        <td style="width:10%" class="miniCartQuantity"><a > X {{ nb_article }} </a>
                                        </td>
                                        <td style="width:15%" class="miniCartSubtotal">
                                            <span > {{ (nb_article * article.prix)|number_format(3, '.', ',') }} DT </span></td>
                                            {% set total_price = total_price + nb_article * article.prix %}
                                        <td style="width:5%" class="delete">
                                            <a href="{{path('delete_item_from_cart',{'id':article.id}) }}"> x </a></td>
                                    </tr>
                                {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <!--/.miniCartTable-->

                           <div class="miniCartFooter text-right">
                            <h3 class="text-right subtotal" >Total: <span
                                        class="total_price_cart" >{{ total_price|number_format(3, '.', ',') }}</span> DT TTC</h3>
                            <a class="btn btn-sm btn-danger" href="{{ path("panier") }}"> <i class="fa fa-shopping-cart"> </i>
                                Voir panier </a><a class="btn btn-sm btn-primary"   
                                {% if panier|length > 0 %}href="{{ path("livraison") }}"
                                {% else %}href="{{ path("panier") }}"
                                {% endif %}> CHECKOUT </a>
                                </div>
                            <!--/.miniCartFooter-->

                        </div>
                        <!--/.dropdown-menu-->
                    </div>
                    <!--/.cartMenu-->

                    <div class="search-box">
                        <div class="input-group">
                            <button class="btn btn-nobg getFullSearch" type="button"><i class="fa fa-search">
                                </i></button>
                        </div>
                        <!-- /input-group -->

                    </div>
                    <!--/.search-box -->
                </div>
                <!--/.navbar-nav hidden-xs-->
            </div>
            <!--/.nav-collapse -->

        </div>
        <!--/.container -->

        <div class="search-full text-right"><a class="pull-right search-close"> <i class=" fa fa-times-circle"> </i>
            </a>

            <div class="searchInputBox pull-right">
                <input type="search" data-searchurl="search?=" name="q"
                    placeholder="start typing and hit enter to search" class="search-input">
                <button class="btn-nobg search-btn" type="submit"><i class="fa fa-search"> </i></button>
            </div>
        </div>
        <!--/.search-full-->

    </div>