{% extends 'BoutiqueBundle:Default:index.html.twig' %}

{% block page %}
<!-- Page -->
<div class="page">
    <div class="page-content container-fluid">
        <div class="row" data-plugin="matchHeight" data-by-row="true">
            <div class="col-xl-3 col-md-6">
                <!-- Widget Linearea One-->
                <div class="card card-shadow" id="widgetLineareaOne">
                    <div class="card-block p-20 pt-10">
                        <div class="clearfix">
                            <div class="grey-800 float-left py-10">
                                <i class="icon md-account grey-600 font-size-24 vertical-align-bottom mr-5"></i> Commandes/jour
                            </div>
                            <span class="float-right grey-700 font-size-30">{{ cj }}</span>
                        </div>
                        <div class="ct-chart h-50"></div>
                    </div>
                </div>
                <!-- End Widget Linearea One -->
            </div>
            <div class="col-xl-3 col-md-6">
                <!-- Widget Linearea Two -->
                <div class="card card-shadow" id="widgetLineareaTwo">
                    <div class="card-block p-20 pt-10">
                        <div class="clearfix">
                            <div class="grey-800 float-left py-10">
                                <i class="icon md-flash grey-600 font-size-24 vertical-align-bottom mr-5"></i>       Commandes/semaine
                            </div>
                            <span class="float-right grey-700 font-size-30">{{ cs }}</span>
                        </div>

                        <div class="ct-chart h-50"></div>
                    </div>
                </div>
                <!-- End Widget Linearea Two -->
            </div>
            <div class="col-xl-3 col-md-6">
                <!-- Widget Linearea Three -->
                <div class="card card-shadow" id="widgetLineareaThree">
                    <div class="card-block p-20 pt-10">
                        <div class="clearfix">
                            <div class="grey-800 float-left py-10">
                                <i class="icon md-chart grey-600 font-size-24 vertical-align-bottom mr-5"></i>                 Commandes/mois
                            </div>
                            <span class="float-right grey-700 font-size-30">{{ cm }}</span>
                        </div>

                        <div class="ct-chart h-50"></div>
                    </div>
                </div>
                <!-- End Widget Linearea Three -->
            </div>
            <div class="col-xl-3 col-md-6">
                <!-- Widget Linearea Four -->
                <div class="card card-shadow" id="widgetLineareaFour">
                    <div class="card-block p-20 pt-10">
                        <div class="clearfix">
                            <div class="grey-800 float-left py-10">
                                <i class="icon md-view-list grey-600 font-size-24 vertical-align-bottom mr-5"></i>                    Commandes/annees
                            </div>
                            <span class="float-right grey-700 font-size-30">{{ca}}</span>
                        </div>

                        <div class="ct-chart h-50"></div>
                    </div>
                </div>
                <!-- End Widget Linearea Four -->
            </div>

            <!-- End Widget Info -->
        </div>
        <div class="page-content">
        <!-- Panel -->
        <div class="panel">
            <div class="panel-body container-fluid">
                <div class="row row-lg">
                    <div class="col-lg-12">
                        <!-- Example Realtime -->
                        <div class="example-wrap">
                            <h4 class="example-title">nombre des Ventes par Categorie</h4>
                            <div class="example">
                                <div id="exampleFlotRealtime"></div>
                            </div>
                        </div>
                        <!-- End Example Realtime -->
                    </div>



                </div>
            </div>
        </div>
        <!-- End Panel -->
        </div>
    </div>

</div>
<!-- End Page -->
{% endblock page %}