{% extends 'BoutiqueBundle:Default:index.html.twig' %}

{% block page %}
	<!-- Page -->
	<div class="page">
		<div class="page-header">
			<ol class="breadcrumb">
				<li class="breadcrumb-item">
					<a href="{{ path('commande_index') }}">
						<font style="vertical-align: inherit;">
							<font style="vertical-align: inherit;">Commandes</font>
						</font>
					</a>
				</li>
				<li class="breadcrumb-item active">
					<font style="vertical-align: inherit;">
						<font style="vertical-align: inherit;">Details Commande</font>
					</font>
				</li>
			</ol>
		</div>
		<div class="page-content container-fluid">
			<div class="row">
				<div
					class="col-lg-3">
					<!-- Page Widget -->
					<div class="card card-shadow text-center">
						<div class="card-block">

							<h4 class="profile-user">Details Commande :
								{{commande.reference}}
							</h4>
							<h5 class="profile-user">Status  :
								{% if  c.commande.statusgest == -1 %}
									<span class="badge badge-secondary">Non Validée</span>
								{% endif %}
								{% if  commande.statusgest == 0 %}
									<span class="badge badge-warning">En Cours de traitement</span>
								{% endif %}
								{% if  commande.statusgest == 1 %}
									<span class="badge badge-info">En Cours de livraison</span>
								{% endif %}
								{% if  commande.statusgest == 2 %}
									<span class="badge badge-success">Livrée</span>
								{% endif %}
								{% if  commande.statusgest == 3 %}
									<span class="badge badge-danger">Annulée</span>
								{% endif %}
							</h5>
							<h5 class="profile-user">Date Commande :
								{{commande.datevalidclient|date("m/d/Y") }}
							</h5>
							<h5 class="profile-user">
								Date Validation :
								{{commande.datevalidgest|date("m/d/Y") }}
							</h5>
							{% if  commande.statusgest == 2 %}
								<h5 class="profile-user">
									Date Livraison :
									{{commande.deliveryDate|date("m/d/Y") }}
								</h5>
							{% endif %}
							<h5 class="profile-user">
								Client  :
								{{commande.utilisateur.firstName }}
								{{ commande.utilisateur.lastName}}
							</h5>
							<h5 class="profile-user">
								Telephone  :
								{{commande.adresse.telephone }}
							</h5>
							<h5 class="profile-user">
								Adresse  :
								{{commande.adresse.adresse }},{{commande.adresse.ville }},{{commande.adresse.pays }}
							</h5>
							<h5 class="profile-user">
								Code Postal  :
								{{commande.adresse.cp}}
							</h5>

						</div>
					</div>
					<!-- End Page Widget -->
				</div>

				<div
					class="col-lg-9">
					<!-- Panel -->
					<div class="panel">
						<div class="panel-body nav-tabs-animate nav-tabs-horizontal" data-plugin="tabs">

							<div id="exampleBasic" class="jsgrid" style="position: relative; height: 500px; width: 100%;">
								<div class="jsgrid-grid-header jsgrid-header-scrollbar">
									<table class="jsgrid-table table table-striped table-hover">
										<tr class="jsgrid-header-row">
											<th class="jsgrid-header-cell jsgrid-align-center jsgrid-header-sortable" style="width: 100px;">Id Produit</th>
											<th class="jsgrid-header-cell jsgrid-align-center jsgrid-header-sortable" style="width: 100px;">Nom</th>
											<th class="jsgrid-header-cell jsgrid-align-center jsgrid-header-sortable" style="width: 100px;">Quantité</th>
											<th class="jsgrid-header-cell jsgrid-align-center jsgrid-header-sortable" style="width: 100px;">Prix Unitaire</th>
											<th class="jsgrid-header-cell jsgrid-align-center jsgrid-header-sortable" style="width: 100px;">Prix Total</th>
											{% set pt = 0 %}
											{% for cp in commande_produit %}
												{% set pt = pt + cp.produit.prix * cp.quantite %}
												<tr class="jsgrid-row">
													<td class="jsgrid-cell jsgrid-align-center" style="width: 100px;">
														{{ cp.produit.id }}</td>
													<td class="jsgrid-cell jsgrid-align-center" style="width: 100px;">{{ cp.produit.nom }}</td>
													<td class="jsgrid-cell jsgrid-align-center" style="width: 100px;">{{ cp.quantite }}</td>
													<td class="jsgrid-cell jsgrid-align-center" style="width: 100px;">{{ cp.produit.prix }}</td>
													<td class="jsgrid-cell jsgrid-align-center " style="width: 100px;">{{ cp.produit.prix * cp.quantite }}</td>

												</tr>
											{% endfor %}
										</tr>
									</table>
									<h4 class="profile-user text-right ">Prix Total  :
										{{pt}}
									</h4>
									<div class="navigation">
										{{ knp_pagination_render(commande_produit) }}
									</div>
								</div>


							</div>


						</div>
					</div>
					<!-- End Panel -->
				</div>
			</div>
		</div>
	</div>
	<!-- End Page -->
{% endblock %}
