{% extends 'BoutiqueBundle:Default:index.html.twig' %}

{% block page %}


	<div class="page">

		<div class="page-content">
			{{ form_start(edit_form) }}
			<!-- Panel Controls Sizing -->
			<div class="panel">
				<div class="panel-heading">
					<h3 class="panel-title">
						Modifier Profile
					</h3>
				</div>

				{% for error in errors %}
						<div class="alert dark alert-danger alert-dismissible" role="alert">
							<button type="button" class="close" data-dismiss="alert" aria-label="Close">
								<span aria-hidden="true">×</span>
							</button>
							{{ error.message }}
						</div>
				{% endfor %}
				<div class="panel-body container-fluid col-lg-6 mx-auto">
					<div class="example-wrap">
						<h4 class="example-title">Raison Sociale
						</h4>
						<div class="example">
							{{ form_widget(edit_form.raisonsociale, {'attr': {'class': 'form-control'}}) }}
						</div>
						<div class="example-wrap">
							<h4 class="example-title">
								Nom Domaine
							</h4>
							<div class="example">
								{{ form_widget(edit_form.nomdomaine, {'attr': {'class': 'form-control'}}) }}
							</div>
						</div>
						<div class="example-wrap">
							<h4 class="example-title">Adresse
							</h4>
							<div class="example">
								{{ form_widget(edit_form.adresse, {'attr': {'class': 'form-control'}}) }}
							</div>
						</div>
						<div class="example-wrap">
							<h4 class="example-title">
								Rib
							</h4>
							<div class="example">
								{{ form_widget(edit_form.rib, {'attr': {'class': 'form-control'}}) }}
							</div>
						</div>
						<div class="example-wrap">
							<h4 class="example-title">
								Matricule Fiscale</h4>
							<div class="example">
								{{ form_widget(edit_form.matricule, {'attr': {'class': 'form-control'}}) }}
							</div>
						</div>
						<div class="example-wrap">
							<h4 class="example-title">
								Registre De Cmmerce
							</h4>
							<div class="example">
								{{ form_widget(edit_form.registre, {'attr': {'class': 'form-control'}}) }}
							</div>
						</div>
						<div class="example-wrap">
							<h4 class="example-title">Telephone
							</h4>
							<div class="example">
								{{ form_widget(edit_form.tel, {'attr': {'class': 'form-control'}}) }}
							</div>
						</div>
						<div class="example-wrap">
							<h4 class="example-title">Logo
							</h4>
							<div class="example">
								<div class="input-group input-group-file" data-plugin="inputGroupFile">
									{{ form_widget(edit_form.logoFile, {'attr': {'class': 'form-control'}}) }}

								</div>
							</div>
						</div>
						<div class="example-wrap">
							<h4 class="example-title">Description
							</h4>
							<div class="example">
								{{ form_widget(edit_form.description, {'attr': {'class': 'form-control'}}) }}
							</div>
							<div class="example-wrap">
								<div class="col-lg-4 ml-auto">
									<button type="submit" class="btn btn-raised btn-primary btn-block active waves-effect waves-classic">Modifier</button>
								</div>
							</div>
						</div>

					</div>
					<!-- End Panel Controls Sizing -->

				</div>
				{{ form_end(edit_form) }}
			</div>
			<!-- End Page -->
		{% endblock %}
