{% extends 'BoutiqueBundle:Default:index.html.twig' %}

{% block page %}

	<!-- Page -->
	<div class="page">
		<div class="page-content container-fluid">
			<div class="row">
				<div
					class="col-lg-3">
					<!-- Page Widget -->
					<div class="card card-shadow text-center">
						<div class="card-block">

							<a class="avatar img-bordered avatar-100" href="javascript:void(0)">
								<img src="{{ asset('uploads/logo/') }}{{ boutique.logo }}" alt="...">
							</a>

							<h5 class="user-name">Raison Sociale  :{{ boutique.raisonsociale }}</h5>
							<p class="profile-user">Email :
								{{ user.email }}
							</p>
							<p class="user-job">
								Nom Domaine :
								{{ boutique.nomdomaine }}
							</p>
							<p class="user-job">
								Secteur D'activité  :
								{{ boutique.secteur }}
							</p>
							<p class="user-job">
								Telephone  :
								{{ boutique.tel }}
							</p>
							<a class="btn btn-primary" href="{{ path('edit_profile', { 'id': boutique.id }) }}">
								Modifier Boutique
							</a>

						</div>
					</div>
					<!-- End Page Widget -->
				</div>

				<div
					class="col-lg-9">
					<!-- Panel -->
					<div class="panel">
						<div class="panel-body nav-tabs-animate nav-tabs-horizontal" data-plugin="tabs">

							<div class="example table-responsive">
								<table class="table table-striped">
									<tbody>
										<tr>
											<td>
												<h5 class="profile-user">Description</h5>
											</td>
											<td>{{ boutique.description }}</td>
											<td></td>
										</tr>
										<tr>
											<td>
												<h5 class="profile-user">Adresse</h5>
											</td>
											<td>{{ boutique.adresse }}</td>
											<td></td>

										</tr>
										<tr>
											<td>
												<h5 class="profile-user">Rib</h5>
											</td>
											<td>{{ boutique.rib }}</td>
											<td></td>

										</tr>
										<tr>
											<td>
												<h5 class="profile-user">Matricule Fiscale</h5>
											</td>
											<td>{{ boutique.matricule }}</td>
											<td></td>

										</tr>
										<tr>
											<td>
												<h5 class="profile-user">Registre De Commerce</h5>
											</td>
											<td>{{ boutique.registre }}</td>
											<td></td>

										</tr>
										<form action="{{ path('modifpassword')}}" method="get">
											<tr>
												<td>
													<i class="icon-title" aria-hidden="true"></i>
													<h5 class="profile-user">Changer le mot de passe</h5>
												</td>
												<td>Nous vous conseillons d’utiliser un mot de passe sûr que vous n’utilisez nulle part ailleurs</td>
												<td>
													<button type="button" id="showpass" class="btn btn-primary" onclick="showdivpass(true)">
														Modifier
													</button>
													<button type="button" style="display: none" id="hidepass" class="btn btn-primary" onclick="showdivpass(false)">
														Fermer
													</button>
												</td>
											</tr>
											<tr id="changepass" style="display: none">
												<td></td>
												<td>
													<div class="example-wrap">
														Actuel
														<input class="form-control" placeholder="inserer votre ancien mot de passe" name="pwda" id="pwda" type="password" onchange="enablepass()">
														Nouveau
														<input class="form-control" placeholder="inserer le nouveau mot de passe" name="pwdn" id="pwdn" onchange="enablepass()" type="password">
														<br>
														<button type="submit" class="btn btn-primary" id="btnpass" disabled="disabled">
															enregistrer les modification
														</button>
													</div>
												</td>
												<td></td>
											</tr>
										</form>
									</tbody>
								</table>
							</div>

						</div>
					</div>
					<!-- End Panel -->
				</div>
			</div>
		</div>
	</div>
	<!-- End Page -->
	<script>
		
function enablepass() {
if ($('#pwda').val() !== '' && $('#pwdn').val() !== '') {
$('#btnpass').prop('disabled', false);
}
else{
  $('#btnpass').prop('disabled', true);
  
}

}
</script>

	{% endblock %}
