{% trans_default_domain 'FOSUserBundle' %}
{% block subject %}
{% autoescape false %}
Bienvenu dans e-shop :{{'%username%': user.username, '%confirmationUrl%': confirmationUrl}}
{% endautoescape %}
{% endblock %}
{% block body_text %}
{% autoescape false %}
Pour valider votre compte , merci de vous rendre sur
{{'%username%': user.username, '%confirmationUrl%': confirmationUrl}}
{% endautoescape %}
{% endblock %}
{% block body_html %}{% endblock %}
