
<!DOCTYPE html>
<html class="no-js css-menubar" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description" content="bootstrap material admin template">
    <meta name="author" content="">

    <title>Dashboard | E-shop</title>

    <link rel="apple-touch-icon" href="{{asset('template/assets/images/apple-touch-icon.png') }}">
    <link rel="shortcut icon" href="{{asset('template/assets/images/favicon.ico') }}">
    {% block stylesheets %}
    <!-- Stylesheets -->
    <link rel="stylesheet" href="{{asset('template/global/css/bootstrap.min.css')  }}">
    <link rel="stylesheet" href="{{asset('template/global/css/bootstrap-extend.min.css') }}">
    <link rel="stylesheet" href="{{asset('template/assets/css/site.css') }}">

    <!-- Plugins -->
    <link rel="stylesheet" href="{{asset('template/global/vendor/animsition/animsition.css') }}">
    <link rel="stylesheet" href="{{asset('template/global/vendor/asscrollable/asScrollable.css') }}">
    <link rel="stylesheet" href="{{asset('template/global/vendor/switchery/switchery.css') }}">
    <link rel="stylesheet" href="{{asset('template/global/vendor/intro-js/introjs.css')  }}">
    <link rel="stylesheet" href="{{asset('template/global/vendor/slidepanel/slidePanel.css') }}">
    <link rel="stylesheet" href="{{asset('template/global/vendor/flag-icon-css/flag-icon.css') }}">
    <link rel="stylesheet" href="{{asset('template/global/vendor/waves/waves.css') }}">
    <link rel="stylesheet" href="{{asset('template/global/vendor/chartist/chartist.css') }}">
    <link rel="stylesheet" href="{{asset('template/global/vendor/jvectormap/jquery-jvectormap.css') }}">
    <link rel="stylesheet" href="{{asset('template/global/vendor/chartist-plugin-tooltip/chartist-plugin-tooltip.css') }}">
    <link rel="stylesheet" href="{{asset('template/assets/examples/css/dashboard/v1.css') }}">


    <!-- Fonts -->
    <link rel="stylesheet" href="{{asset('template/global/fonts/material-design/material-design.min.css') }}">
    <link rel="stylesheet" href="{{asset('template/global/fonts/brand-icons/brand-icons.min.css') }}">
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,300italic'>
{% endblock stylesheets%}
    <!--[if lt IE 9]>
    <script src="https://code.iconify.design/1/1.0.3/iconify.min.js"></script>
    <script src="{{asset('template/global/vendor/html5shiv/html5shiv.min.js')}}"></script>
    <![endif]-->

    <!--[if lt IE 10]>
    <script src="{{asset('template/global/vendor/media-match/media.match.min.js')}}"></script>
    <script src="{{asset('template/global/vendor/respond/respond.min.js')}}"></script>
    <![endif]-->

    <!-- Scripts -->
    <script src="{{asset('template/global/vendor/breakpoints/breakpoints.js') }}"></script>
    <script>
        Breakpoints();
    </script>
</head>
<body class="animsition dashboard">
{% block body %}{% endblock %}









<!-- Footer -->

<!-- Core  -->
{% block javascripts %}
<script src="{{asset('template/global/vendor/babel-external-helpers/babel-external-helpers.js')}}"></script>
<script src="{{asset('template/global/vendor/jquery/jquery.js')}}"></script>
<script src="{{asset('template/global/vendor/popper-js/umd/popper.min.js')}}"></script>
<script src="{{asset('template/global/vendor/bootstrap/bootstrap.js')}}"></script>
<script src="{{asset('template/global/vendor/animsition/animsition.js')}}"></script>
<script src="{{asset('template/global/vendor/mousewheel/jquery.mousewheel.js')}}"></script>
<script src="{{asset('template/global/vendor/asscrollbar/jquery-asScrollbar.js')}}"></script>
<script src="{{asset('template/global/vendor/asscrollable/jquery-asScrollable.js')}}"></script>
<script src="{{asset('template/global/vendor/ashoverscroll/jquery-asHoverScroll.js')}}"></script>
<script src="{{asset('template/global/vendor/waves/waves.js')}}"></script>

<!-- Plugins -->
<script src="{{asset('template/global/vendor/switchery/switchery.js')}}"></script>
<script src="{{asset('template/global/vendor/intro-js/intro.js')}}"></script>
<script src="{{asset('template/global/vendor/screenfull/screenfull.js')}}"></script>
<script src="{{asset('template/global/vendor/slidepanel/jquery-slidePanel.js')}}"></script>
<script src="{{asset('template/global/vendor/chartist/chartist.min.js')}}"></script>
<script src="{{asset('template/global/vendor/chartist-plugin-tooltip/chartist-plugin-tooltip.js')}}"></script>
<script src="{{asset('template/global/vendor/jvectormap/jquery-jvectormap.min.js')}}"></script>
<script src="{{asset('template/global/vendor/jvectormap/maps/jquery-jvectormap-world-mill-en.js')}}"></script>
<script src="{{asset('template/global/vendor/matchheight/jquery.matchHeight-min.js')}}"></script>
<script src="{{asset('template/global/vendor/peity/jquery.peity.min.js')}}"></script>

<!-- Scripts -->
<script src="{{asset('template/global/js/Component.js')}}"></script>
<script src="{{asset('template/global/js/Plugin.js')}}"></script>
<script src="{{asset('template/global/js/Base.js')}}"></script>
<script src="{{asset('template/global/js/Config.js')}}"></script>

<script src="{{asset('template/assets/js/Section/Menubar.js')}}"></script>
<script src="{{asset('template/assets/js/Section/GridMenu.js')}}"></script>
<script src="{{asset('template/assets/js/Section/Sidebar.js')}}"></script>
<script src="{{asset('template/assets/js/Section/PageAside.js')}}"></script>
<script src="{{asset('template/assets/js/Plugin/menu.js')}}"></script>

<script src="{{asset('template/global/js/config/colors.js')}}"></script>
<script src="{{asset('template/assets/js/config/tour.js')}}"></script>
<script>Config.set('assets', 'assets');</script>

<!-- Page -->
<script src="{{asset('template/assets/js/Site.js')}}"></script>
<script src="{{asset('template/global/js/Plugin/asscrollable.js')}}"></script>
<script src="{{asset('template/global/js/Plugin/slidepanel.js')}}"></script>
<script src="{{asset('template/global/js/Plugin/switchery.js')}}"></script>
<script src="{{asset('template/global/js/Plugin/matchheight.js')}}"></script>
<script src="{{asset('template/global/js/Plugin/jvectormap.js')}}"></script>
<script src="{{asset('template/global/js/Plugin/peity.js')}}"></script>

<script src="{{asset('template/assets/examples/js/dashboard/v1.js')}}"></script>
<script src="https://code.jquery.com/jquery-3.4.1.js"></script>

{% endblock javascripts %}
</body>
</html>
