{% extends "AdminBundle:Default:template.html.twig" %}
{% block page %}
	<div class="page">
		<div class="page-content container-fluid">

			<div class="row">
                <div class="col-md-6">
                {# debut card #}
            <div class="card card-shadow" id="widgetLineareaTwo">
				<div class="card-block p-20 pt-10">
					<div class="clearfix">
						<div class="grey-800 float-left py-10">
							<i class="site-menu-icon font-size-50 md-star-circle" aria-hidden="true"></i>
							Secteurs D'activités
						</div>
						<span class="float-right grey-700 font-size-30">{{ secteurs }}</span>
					</div>

				</div>
			</div>
            {# fin card #}
                </div>
                <div class="col-md-6">
                {# debut card #}
            <div class="card card-shadow" id="widgetLineareaTwo">
				<div class="card-block p-20 pt-10">
					<div class="clearfix">
						<div class="grey-800 float-left py-10">
                            <i class="site-menu-icon font-size-50 md-puzzle-piece" aria-hidden="true"></i>
                            							Catégories
						</div>
						<span class="float-right grey-700 font-size-30">{{ categories }}</span>
					</div>

				</div>
			</div>
            {# fin card #}
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                {# debut card #}
            <div class="card card-shadow" id="widgetLineareaTwo">
				<div class="card-block p-20 pt-10">
					<div class="clearfix">
						<div class="grey-800 float-left py-10">
                            <i class="site-menu-icon font-size-50 md-shopping-cart" aria-hidden="true"></i>
                            							Boutiques
						</div>
						<span class="float-right grey-700 font-size-30">{{ boutiques }}</span>
					</div>

				</div>

			</div>
            {# fin card #}
                </div>
                <div class="col-md-6">
                {# debut card #}
            <div class="card card-shadow" id="widgetLineareaTwo">
				<div class="card-block p-20 pt-10">
					<div class="clearfix">
						<div class="grey-800 float-left py-10">
                            <i class="site-menu-icon font-size-50 md-accounts-alt" aria-hidden="true"></i>
                            							Utilisateurs
						</div>
						<span class="float-right grey-700 font-size-30">{{ users }}</span>
					</div>

				</div>
			</div>
            {# fin card #}
                </div>
            </div>

		</div>
	</div>

{% endblock %}
