{% extends "AdminBundle:Default:template.html.twig" %}
{% block page %}

<div class="page">
      <div class="page-content">
        <!-- Panel -->
        <div class="panel">
          <div class="panel-body">

            <div class="nav-tabs-horizontal nav-tabs-animate" data-plugin="tabs">
              <ul class="nav nav-tabs nav-tabs-line" role="tablist">
                <li class="nav-item" role="presentation"><a class="nav-link active" data-toggle="tab" href="" aria-controls="all_contacts" role="tab" aria-selected="true">Nouveaux Boutique</a></li>
                <li class="dropdown nav-item" role="presentation" style="display: none;">
                  <a class="dropdown-toggle nav-link" data-toggle="dropdown" href="#" aria-expanded="false">Contacts </a>
                  <div class="dropdown-menu" role="menu">
                    <a class="dropdown-item" data-toggle="tab" href="#all_contacts" aria-controls="all_contacts" role="tab">Nouveaux Boutique</a>
                  </div>
                </li>
              </ul>
              <div class="tab-content">
                <div class="tab-pane animation-fade active" id="all_contacts" role="tabpanel">
                  <ul class="list-group">
                    {% for boutique in boutiques %}
                        
                    
                    <li class="list-group-item">
                      <div class="media">
                        <div class="pr-0 pr-sm-20 align-self-center">
                          <div class="avatar avatar-online">
                            <img src="{{ asset('uploads/logo/') }}{{ boutique.logo }}" alt="...">
                           
                          </div>
                        </div>
                        <div class="media-body align-self-center">
                          <h5 class="mt-0 mb-5">
                            {{boutique.raisonsociale}}
                           
                          </h5>
                          <p>
                            <i class="icon icon-color md-email" aria-hidden="true"></i>  {{boutique.email}}
                          </p>
                        </div>
                       
                      </div>
                    </li>
                    {% endfor %}
                 </ul>
                  <nav>
                  </nav>
                </div>

                
                
              
            </div>
          </div>
        </div>
        <!-- End Panel -->
      </div>
    </div>
{% endblock %}