{% extends 'AdminBundle:Default:base.html.twig' %}

{% block body %}
	<!--[if lt IE 8]>
	<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	<![endif]-->

	<nav class="site-navbar navbar navbar-default navbar-fixed-top navbar-mega" role="navigation">

		<div class="navbar-header">
			<button type="button" class="navbar-toggler hamburger hamburger-close navbar-toggler-left hided" data-toggle="menubar">
				<span class="sr-only">Toggle navigation</span>
				<span class="hamburger-bar"></span>
			</button>
			<button type="button" class="navbar-toggler collapsed" data-target="#site-navbar-collapse" data-toggle="collapse">
				<i class="icon md-more" aria-hidden="true"></i>
			</button>
			<div class="navbar-brand navbar-brand-center site-gridmenu-toggle" data-toggle="gridmenu">
				<img class="navbar-brand-logo" src="{{ asset('template/assets/images/logo.png')}}" title="Remark">
				<span class="navbar-brand-text hidden-xs-down">
					E-Shop</span>
			</div>
			<button type="button" class="navbar-toggler collapsed" data-target="#site-navbar-search" data-toggle="collapse">
				<span class="sr-only">Toggle Search</span>
				<i class="icon md-search" aria-hidden="true"></i>
			</button>
		</div>

		<div
			class="navbar-container container-fluid">
			<!-- Navbar Collapse -->
			<div
				class="collapse navbar-collapse navbar-collapse-toolbar" id="site-navbar-collapse">
				<!-- Navbar Toolbar -->
				<ul class="nav navbar-toolbar">
					<li class="nav-item hidden-float" id="toggleMenubar">
						<a class="nav-link" data-toggle="menubar" href="#" role="button">
							<i class="icon hamburger hamburger-arrow-left">
								<span class="sr-only">Toggle menubar</span>
								<span class="hamburger-bar"></span>
							</i>
						</a>
					</li>
					
				</ul>
				<!-- End Navbar Toolbar -->

				<!-- Navbar Toolbar Right -->
				<ul class="nav navbar-toolbar navbar-right navbar-toolbar-right">
					<li class="nav-item dropdown">
						<a class="nav-link navbar-avatar" data-toggle="dropdown" href="#" aria-expanded="false" data-animation="scale-up" role="button">
							<span class="avatar avatar-online">
								<img src="{{ asset('template/global/photos/user.png')}}" alt="...">
								<i></i>
							</span>
						</a>
						<div class="dropdown-menu" role="menu">
							<a class="dropdown-item" href="{{ path('admin_logout') }}" role="menuitem">
								<i class="icon md-power" aria-hidden="true"></i>
								Logout</a>
						</div>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link" data-toggle="dropdown" href="javascript:void(0)" title="Notifications" aria-expanded="false" data-animation="scale-up" role="button">
							<i class="icon md-notifications" aria-hidden="true"></i>
							<span class="badge badge-pill badge-danger up" id="countNotif">
								{{app.session.get('nbnotif')}}
							</span>
						</a>
						<div class="dropdown-menu dropdown-menu-right dropdown-menu-media" role="menu">
							<div class="dropdown-menu-header">
								<h5>NOTIFICATIONS</h5>
								<span class="badge badge-round badge-danger">
									{{app.session.get('nbnotif')}}
									Nouveau boutiques
								</span>
							</div>

							<div class="list-group scrollable is-enabled scrollable-vertical" style="position: relative;">
								<div data-role="container" class="scrollable-container">
									{% if app.session.get('notif') is defined %}
										{% for boutique in app.session.get('notif')  %}
											<div data-role="content" class="scrollable-content">
												<a class="list-group-item dropdown-item waves-effect waves-light waves-round" href="javascript:void(0)" role="menuitem">
													<div class="media">
														<div class="pr-10">
															<i class="icon md-receipt bg-red-600 white icon-circle" aria-hidden="true"></i>
														</div>
														<div class="media-body">
															<h6 class="media-heading">{{boutique.raisonsociale}}</h6>
															<time class="media-meta" datetime="2017-06-12T20:50:48+08:00">{{boutique.email}}</time>
														</div>
													</div>
												</a>
											</div>
										{% endfor %}

									{% endif %}
								</div>
								<div class="scrollable-bar scrollable-bar-vertical scrollable-bar-hide" draggable="false">
									<div class="scrollable-bar-handle" style="height: 202.693px;"></div>
								</div>
							</div>
							<div class="dropdown-menu-footer">
								<a class="dropdown-menu-footer-btn" href="javascript:void(0)" role="button">
									<i class="icon md-settings" aria-hidden="true"></i>
								</a>
								<a class="dropdown-item" href="{{path('notif_backend')}}" role="menuitem">
									All notifications
								</a>
							</div>
						</div>
					</li>
				</ul>
				<!-- End Navbar Toolbar Right -->
			</div>
			<!-- End Navbar Collapse -->

			<!-- Site Navbar Seach -->
			<div class="collapse navbar-search-overlap" id="site-navbar-search">
				<form role="search">
					<div class="form-group">
						<div class="input-search">
							<i class="input-search-icon md-search" aria-hidden="true"></i>
							<input type="text" class="form-control" name="site-search" placeholder="Search...">
							<button type="button" class="input-search-close icon md-close" data-target="#site-navbar-search" data-toggle="collapse" aria-label="Close"></button>
						</div>
					</div>
				</form>
			</div>
			<!-- End Site Navbar Seach -->
		</div>
	</nav>
	<div class="site-menubar">
		<div class="site-menubar-body">
			<div>
				<div>
					<ul class="site-menu" data-plugin="menu">
						<li class="site-menu-item active">
							<a class="animsition-link" href="{{ path("dashadmin") }}">
								<i class="site-menu-icon md-view-dashboard" aria-hidden="true"></i>
								<span class="site-menu-title">Dashboard</span>
							</a>
						</li>
						<li class="site-menu-item has-sub">
							<a class="animsition-link" href="{{ path("secteuractivity_index") }}">
								<i class="site-menu-icon md-star-circle" aria-hidden="true"></i>
								<span class="site-menu-title">Secteurs D'activités</span>
							</a>
						</li>
						<li class="site-menu-item has-sub">
							<a class="animsition-link" href="{{ path("categories_index") }}">
								<i class="site-menu-icon md-puzzle-piece" aria-hidden="true"></i>
								<span class="site-menu-title">Categories</span>
							</a>
						</li>
						<li class="site-menu-item has-sub">
							<a class="animsition-link" href="{{ path("boutique_index") }}">
								<i class="site-menu-icon md-shopping-cart" aria-hidden="true"></i>
								<span class="site-menu-title">Boutiques</span>
							</a>
						</li>
						<li class="site-menu-item has-sub">
							<a class="animsition-link" href="{{ path("utilisateurs_index") }}">
								<i class="site-menu-icon md-accounts-alt" aria-hidden="true"></i>
								<span class="site-menu-title">Utilisateurs</span>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>

		<div class="site-menubar-footer">
			<a href="javascript: void(0);" class="fold-show" data-placement="top" data-toggle="tooltip" data-original-title="Settings">
				<span class="icon md-settings" aria-hidden="true"></span>
			</a>
			<a href="javascript: void(0);" data-placement="top" data-toggle="tooltip" data-original-title="Lock">
				<span class="icon md-eye-off" aria-hidden="true"></span>
			</a>
			<a href="javascript: void(0);" data-placement="top" data-toggle="tooltip" data-original-title="Logout">
				<span class="icon md-power" aria-hidden="true"></span>
			</a>
		</div>
	</div>
	<div class="site-gridmenu">
		<div>
			<div>
				<ul>
					<li><a href="apps/mailbox/mailbox.html"><i class="icon md-email"></i><span>Mailbox</span></a></li>
					<li><a href="apps/calendar/calendar.html"><i class="icon md-calendar"></i><span>Calendar</span></a></li>
					<li><a href="apps/contacts/contacts.html"><i class="icon md-account"></i><span>Contacts</span></a></li>
					<li><a href="apps/media/overview.html"><i class="icon md-videocam"></i><span>Media</span></a></li>
					<li><a href="apps/documents/categories.html"><i class="icon md-receipt"></i><span>Documents</span></a></li>
					<li><a href="apps/projects/projects.html"><i class="icon md-image"></i><span>Project</span></a></li>
					<li><a href="apps/forum/forum.html"><i class="icon md-comments"></i><span>Forum</span></a></li>
					<li><a href="index.html"><i class="icon md-view-dashboard"></i><span>Dashboard</span></a></li>
				</ul>
			</div>
		</div>
	</div>

	{% block page %}{% endblock page %}
{% endblock body %}
