{% extends 'BoutiqueBundle:Default:index.html.twig' %}

{% block page %}
    <div class="page">
        <div class="page-content container-fluid">
            <div class="row">
                <div class="col-xxl-6">
                    <!-- Panel Basic -->
                    <div class="panel">
                        <header class="panel-heading">
                            <h3 class="panel-title">Historique Des Commandes</h3>
                        </header>
                        <div class="panel-body">
                            <div id="exampleBasic" class="jsgrid" style="position: relative; height: 500px; width: 100%;">
                                <div class="jsgrid-grid-header jsgrid-header-scrollbar">
                                    <table class="jsgrid-table table table-striped table-hover">
                                        <tr class="jsgrid-header-row">
                                            <th class="jsgrid-header-cell jsgrid-header-sortable" style="width: 100px;">Reference</th>
                                            <th class="jsgrid-header-cell jsgrid-align-right jsgrid-header-sortable" style="width: 100px;">Nombre Produits</th>
                                            <th class="jsgrid-header-cell jsgrid-align-right jsgrid-header-sortable" style="width: 100px;">Statut</th>
                                            <th class="jsgrid-header-cell jsgrid-align-right jsgrid-header-sortable" style="width: 100px;">Date Commande</th>
                                            <th class="jsgrid-header-cell jsgrid-control-field jsgrid-align-center" style="width: 100px;">Action</th></tr>
                                        {% for c in commandes %}
                                            <tr  class="jsgrid-row">
                                            <td class="jsgrid-cell" style="width: 100px;">{{ c.commande.reference }} </td>
                                            <td class="jsgrid-cell jsgrid-align-right" style="width: 100px;">{{ c.nbproduit }} </td>
                                            <td class="jsgrid-cell jsgrid-align-right" style="width: 100px;">
                                                <span class="badge badge-success">livrée</span>
                                            </td>
                                            <td class="jsgrid-cell" style="width: 100px;">
                                                {{ c.commande.DateValidClient|date("m/d/Y") }}
                                            </td>
                                            <td class="jsgrid-cell jsgrid-control-field jsgrid-align-center" style="width: 100px;">

                                                <a class="btn btn-icon btn-xs social-facebook waves-effect waves-classic" href="{{ path('historique_show', { 'id': c.commande.id }) }}">
                                                    <i   class="icon md-plus" aria-hidden="true" >
                                                    </i>
                                                </a>
                                                <a class="btn btn-icon btn-xs social-facebook waves-effect waves-classic" href="{{ path('historique_delete', { 'id': c.commande.id }) }}">
                                                    <i class="icon md-delete  " aria-hidden="true" ></i>
                                                </a>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                     </table>
                                    <div class="navigation">
                                        {{ knp_pagination_render(commandes) }}
                                    </div>

                                </div>


                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
