{% extends 'FrontendBundle:Default:myboutique.html.twig' %}

{% block stylesheets %}
	{{ parent() }}

	<link href="{{ asset('assets/css/pickmeup.css') }}" rel="stylesheet">

{% endblock stylesheets %}


{% block content %}

	<!--/.row-->

	<div class="row">
		<div class="col-lg-9 col-md-9 col-sm-7 col-xs-6 col-xxs-12 text-center-xs">
			<h1 class="section-title-inner">
				<span>
					<i class="fa fa-map-marker "></i>
					Adresse</span>
			</h1>
		</div>
		<div class="col-lg-3 col-md-3 col-sm-5 rightSidebar col-xs-6 col-xxs-12 text-center-xs">
			<h4 class="caps">
				<a href="category.html">
					<i class="fa fa-chevron-left"></i>
					Retour à l'acceuil
				</a>
			</h4>
		</div>
	</div>
	<!--/.row-->

	<div class="row">
		<div class="col-lg-9 col-md-9 col-sm-12">
			<div class="row userInfo">
				<div class="col-xs-12 col-sm-12">


					<style>
						.radio-adresse label {
							margin-bottom: 20px;
							font-weight: 300;
						}
						.radio-adresse .fa {
							vertical-align: top;
							margin-top: 4px;
						}
						.delegation_select .delegation {
							width: 90% !important;
							display: inline;
						}
					</style>


					<div class="w100 clearfix" style="margin-bottom: 20px">
						<div class="row userInfo">
							<div class="col-lg-6">
								<h2 class="block-title-2">
									Choisir une adresse de livraison
								</h2>
									<form action="{{ path('validationAdresse') }}" method="POST" class="form-address">
									{% if utilisateur.adresses|length != 0 %}
                                    	<h4>
											<i class="fa fa-truck "></i>
											Adresse de livraison</h4>
										{% for adresse in utilisateur.adresses %}
											<div class="radio-adresse">
												<label class="col-mg-10">
													<input type="radio" name="livraison" value="{{ adresse.id }}" {% if loop.index0 == 0 %} checked="checked" {% endif %}>
													{{ adresse.adresse }},
													{{ adresse.cp }}
													{{ adresse.ville }}
													-
													{{ adresse.pays }}
													<br/>{{ adresse.prenom }}
													{{ adresse.nom }}
												</label>
												<a class="col-mg-2" href="{{ path('deleteAdresse', { 'id' : adresse.id }) }}">
													<i class="fa fa-trash-o" aria-hidden="true"></i>
												</a><br>
											</div>
										{% endfor %}

										<br/><br/>

										<h4>
											<i class="fa fa fa-envelope  "></i>
											Adresse de facturation</h4>
										{% for adresse in utilisateur.adresses %}
											<div class="radio-adresse">
												<label class="col-mg-10">
													<input type="radio" name="facturation" value="{{ adresse.id }}" {% if loop.index0 == 0 %} checked="checked" {% endif %}>
													{{ adresse.adresse }},
													{{ adresse.cp }}
													{{ adresse.ville }}
													-
													{{ adresse.pays }}
													<br/>{{ adresse.prenom }}
													{{ adresse.nom }}
												</label>
												<a class="col-mg-2" href="{{ path('deleteAdresse', { 'id' : adresse.id }) }}">
													<i class="fa fa-trash-o" aria-hidden="true"></i>
												</a><br>
											</div>

										{% endfor %}

										<br/>
                                        {% endif %}

										<div class="cartFooter w100">
											<div class="box-footer">
												<div class="pull-left">
													<a class="btn btn-default" href="{{path('panier')}}">
														<i class="fa fa-arrow-left"></i>
														&nbsp; Précédent
													</a>
												</div>
												<div class="pull-right">
													{% if utilisateur.adresses|length > 0 and panier|length >0 %}
														<button type="submit" class="btn btn-primary btn-small ">
															<i class="fa fa-arrow-circle-right"></i>
															Valider mes adresses
														</button>

													{% else %}
														<a class="btn btn-danger btn-small ">
															<i class="fa fa-exclamation-circle"></i>
															Pas d'adresses
														</a>
													{% endif %}

												</div>
											</div>
										</div>
									</form>
							</div>
							<div class="col-lg-6">
								<h2 class="block-title-2">
									Ajouter une nouvelle adresse.
								</h2>


								<form action="" method="POST">

									<div class="form-group">
										<label>Nom</label>
										{{ form_widget(form.nom,{"attr" : {"class":"form-control","placeholder":"Nom"} } ) }}
										{{ form_errors(form.nom) }}
									</div>

									<div class="form-group">
										<label>Prenom</label>
										{{ form_widget(form.prenom,{"attr" : {"class":"form-control","placeholder":"Prénom"} } ) }}
										{{ form_errors(form.prenom) }}
									</div>

									<div class="form-group">
										<label>Téléphone</label>
										{{ form_widget(form.telephone,{"attr" : {"class":"form-control","placeholder":"Exp: +216 90909090"} } ) }}
										{{ form_errors(form.telephone) }}
									</div>

									<div class="form-group">
										<label>Adresse</label>
										{{ form_widget(form.adresse,{"attr" : {"class":"form-control","placeholder":"Adresse"} } ) }}
										{{ form_errors(form.adresse) }}
									</div>


									<div class="form-group">
										<label>Code Postal</label>
										{{ form_widget(form.cp,{"attr" : {"class":"form-control code","placeholder":"Code Postal"} } ) }}
										{{ form_errors(form.cp) }}
									</div>


									<div class="form-group delegation_select">
										<label>Delegation</label>
										{{ form_widget(form.ville,{"attr" : {"class":"form-control delegation","placeholder":"Ville"} } ) }}
										{{ form_errors(form.ville) }}
									</div>


									{{ form_widget(form) }}
									<button class="btn btn-primary" id="btn-add-adress" type="submit">Ajouter</button>
								</form>


							</div>

						</div>
						<!--/row end-->


					</div>

					<!--/ cartFooter -->

				</div>
			</div>
			<!--/row end-->

		</div>

	</div>
	<!--/row-->

	<div style="clear:both"></div>
{% endblock  %}
{% block javascripts %}
{{ parent() }}
<script src="{{ asset('assets/js/pickmeup.js') }}"></script>
<script>
	function goToAdresse() {
		            livraison = $('input:radio[name=livraison]:checked').val();
		            facturation = $('input:radio[name=facturation]:checked').val();
		            $(".btn-small").tooltip("destroy");
		            window.location.href = '{{ "validationAdresse" }}?'livraison=' + livraison+ '&facturation=' + facturation;
		
		        }
		        selected_date = new Date();
				selected_date.setDate(selected_date.getDate() + 1)
		        console.log(selected_date);
		        {% if date.periode is defined %}
		        $('input:radio[name="periode"][value="{{ date.periode }}"]').attr('checked', true);
		        {% endif %}
		
		        {% if date.date  is defined %}
		        selected_date = "{{ date.date }}";
		        {% endif %}
		
		        addEventListener('DOMContentLoaded', function () {
		
		            pickmeup('.single', {
		                flat: true,
		                format: 'Y-m-d'
		            }).set_date(selected_date);
		
		
		        });
		
		       
		        $("#btn-add-adress").click(function(event){
		            console.log("tteell");
		            var reg = new RegExp(/^\+216 [0-9]*$/);
		        if (!reg.test($("#webbundle_utilisateursadresses_telephone").val())) {
		            event.preventDefault();
		            $("#webbundle_utilisateursadresses_telephone").attr("data-toggle","tooltip");
		            $("#webbundle_utilisateursadresses_telephone").attr("data-placement","bottom");
		            $("#webbundle_utilisateursadresses_telephone").attr("title","Vérifier format du télephone \n Exp: +216 90909090");
		            $("#webbundle_utilisateursadresses_telephone").tooltip("show");
		        }else{
		            $("#webbundle_utilisateursadresses_telephone").tooltip("destroy");
		        }
		        });
		    </script>
		{% endblock %}
