{% extends 'BoutiqueBundle:Default:index.html.twig' %}

{% block page %}


    <!-- Page -->
    <div class="page">

        <div class="page-content">
            {{ form_start(form) }}
            <!-- Panel Controls Sizing -->
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title">Ajout Produit </h3>
                </div>
                <div class="panel-body container-fluid col-lg-6 mx-auto">
                    <div class="example-wrap">
                        <h4 class="example-title"> Nom Produit</h4>
                        <div class="example">
                            {{ form_widget(form.nom, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                    <div class="example-wrap">
                        <h4 class="example-title">Categories </h4>
                        <div class="example">
                            {{ form_widget(form.categorie, {'attr': {'class': 'form-control'}}) }}
                        </div>
                        <div class="example-wrap">
                            <h4 class="example-title"> Prix Produit</h4>
                            <div class="example">
                                {{ form_widget(form.prix, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>
                        <div class="example-wrap">
                            <h4 class="example-title">Quantité </h4>
                            <div class="example">
                                {{ form_widget(form.quantite, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>
                        <div class="example-wrap">
                            <h4 class="example-title">Image1 </h4>
                            <div class="example">
                                <div class="input-group input-group-file" data-plugin="inputGroupFile">
                                    {{ form_widget(form.image, {'attr': {'class': 'form-control'}}) }}
                                    <span class="input-group-btn">
                                        <span class="btn btn-primary btn-file waves-effect waves-classic" onclick="showDiv1()">
                                            <i class="icon md-collection-plus" aria-hidden="true"></i>
                                        </span>
                                    </span>

                                </div>
                            </div>
                        </div>
                        <div class="example-wrap" style="display:none;" id="welcomeDiv1">
                            <h4 class="example-title">Image2 </h4>
                            <div class="example">
                                <div class="input-group input-group-file" data-plugin="inputGroupFile">

                                {{ form_widget(form.image1, {'attr': {'class': 'form-control'}}) }}
                                    <span class="input-group-btn">
                                    <span class="btn btn-primary btn-file waves-effect waves-classic" onclick="showDiv2()">
                                        <i class="icon md-collection-plus" aria-hidden="true"></i>
                                    </span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="example-wrap" style="display:none;" id="welcomeDiv2">
                            <h4 class="example-title">Image3 </h4>
                            <div class="example">
                                <div class="input-group input-group-file" data-plugin="inputGroupFile">
                                    {{ form_widget(form.image2, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>
                        </div>
                        <div class="example-wrap">
                            <h4 class="example-title">Fiche Technique </h4>
                            <div class="example">
                                <div class="input-group input-group-file" data-plugin="inputGroupFile">
                                    {{ form_widget(form.file, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>
                        </div>
                        <div class="example-wrap">
                            <h4 class="example-title">Description  </h4>
                            <div class="example">
                                {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
                        </div>
                        <div class="example-wrap">
                            <div class="example">
                                <div class="checkbox-custom checkbox-primary center-block">
                                    {{ form_widget(form.is_active, {'attr': {'class': 'form-control'}}) }}
                                    <label for="inputChecked">Is Active</label>
                                </div>
                            </div>
                        </div>
                        <div class="example-wrap">
                                <div class="col-lg-4 ml-auto">
                                    <button type="submit" class="btn btn-raised btn-primary btn-block active waves-effect waves-classic">Ajout Produit</button>
                            </div>
                    </div>
                </div>
            </div>
            <!-- End Panel Controls Sizing -->

        </div>
            {{ form_end(form) }}
        </div>
    <!-- End Page -->
{% endblock %}
