{% extends 'FrontendBundle:Default:myboutique.html.twig' %}

{% block content %}
	<div
		class="row transitionfx">

		<!-- left column -->

		<div class="col-lg-6 col-md-6 col-sm-6 productImageZoom">


			<div class='zoom' id='zoomContent'>
				<center>
					<a class="gall-item" title="product-title">
						<img class="zoomImage1 img-responsive" data-src="{{ img_path ~ '/' ~ produit.image }}" src='{{ img_path ~ '/' ~ produit.image }} ' alt='Daisy on the Ohoopee'/></a>
				</center>
			</div>


			<div class="zoomThumb ">
				<a class="zoomThumbLink">
					<img data-large="{{ img_path ~ '/' ~ produit.image1 }}" src="{{ img_path ~ '/' ~ produit.image1 }} " alt="Saleen" title=""/></a>

				<a class="zoomThumbLink">
					<img data-large="{{ img_path ~ '/' ~ produit.image2 }}" src="{{ img_path ~ '/' ~ produit.image2 }} " alt="Saleen" title=""/></a>


			</div>

		</div>
		<!--/ left column end -->


		<!-- right column -->
		<div class="col-lg-6 col-md-6 col-sm-5">

			<h1 class="product-title">
				{{produit.nom}}</h2>

			<h3 class="product-code">Categorie :
				{{produit.categorie.nom}}</h3>


			<div class="product-price">
				<span class="price-sales">
					{{ produit.prix|number_format(3, '.', ',') }}
					DT
				</span>
			</div>



			<!-- productFilter -->
			{% if produit.quantite > 0%}
				<div class="cart-actions">
					<div class="addto row">
						<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
							<a class="btn btn-primary" href="{{path('add_item_to_cart',{'id':produit.id}) }}">
								<span class="add2cart">
									<i class="glyphicon glyphicon-shopping-cart"></i>
									Ajouter au panier
								</span>
							</a>
						</div>

					</div>

	<div class="clear"></div>
    					<h3 class="incaps">
						<i class="fa fa fa-check-circle-o color-in"></i>
						In stock</h3>
				{% else %}

					<div class="cart-actions">
						<div class="addto row">
							<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
								<a class="btn btn-primary" style="background-color: gray;" disabled="disabled">
									<span class="add2cart">
										<i class="glyphicon glyphicon-shopping-cart"></i>
										Ajouter au panier
									</span>
								</a>
							</div>

						</div>
	<div class="clear"></div>
						<div style="clear:both"></div>
						<h3 class="incaps">
							<i class="fa fa-minus-circle color-out"></i>
							Out of stock
						</h3>
					{% endif %}

				</div>
				<!--/.cart-actions-->

				<div class="clear"></div>

				<div class="product-tab w100 clearfix">

					<ul class="nav nav-tabs">
						<li class="active">
							<a href="#details" data-toggle="tab">Details</a>
						</li>

					</ul>

					<!-- Tab panes -->
					<div class="tab-content">
						<div class="tab-pane active" id="details">
							{{produit.description}}<br>
						</div>

					</div>
					<!-- /.tab content -->

				</div>
				<!--/.product-tab-->


			</div>
			<!--/ right column end -->
			<div style="clear:both"></div>
			<!--/.row-->

			<div class="row recommended">

				<h1>
					Produits Similaires
				</h1>

				<div id="SimilarProductSlider" class="owl-carousel owl-theme" style="opacity: 1; display: block;">
					<div class="owl-wrapper-outer">
						<div class="owl-wrapper" style="width: 3744px; left: 0px; display: block;">
							{% if produits_similaire is defined %}

								{% for produit in produits_similaire %}
									<div class="owl-item" style="width: 234px;">
										<div class="item">
											<div class="product">
												<a class="product-image">
													<div class="quickview">

														<a class="btn btn-xs btn-quickview" href="{{path('show_produit',{'id':produit.id})}}">Voir
															                                                    détail
														</a>
													</div>
													{% if produit.image is null or produit.image is empty %}
														<img style="height:250px;width:250px" src="{{ asset('images/product/default.png') }}" alt="img" class="img-responsive">
													{% else %}
														<img style="height:250px;width:250px" src="{{asset('uploads/produits/')}}{{produit.image}}" alt="img" class="img-responsive">
													{% endif %}
											
													<div class="description">
														<h4>
															<a href="san-remo-spaghetti">{{produit.nom}}</a>
														</h4>

														<div class="price">
															<span>{{produit.prix|number_format(3, '.', ',') }}
																TND</span>
														</div>
													</div>
												</div>
											</div>
										</div>
									{% endfor %}
								{% endif %}
								<!--/.recommended-->

							</div>


						{% endblock %}
						{% block javascript %}
							<script src="{{asset('assets/js/jquery.zoom.js')}}"></script>
							<script>
								$(document).ready(function () {

$('#zoomContent').zoom();

$('.productImageZoomx').magnificPopup({
delegate: 'img',
type: 'image',
gallery: {
enabled: true
},

callbacks: {
elementParse: function () {
this.item.src = this.item.el.attr('src');
}
}

});


$('.gall-item').magnificPopup({
type: 'image',
gallery: {
enabled: true
}
});

$("#zoomContent").click(function () { // alert();
$('.gall-item').trigger('click');
});

// CHANGE IMAGE MODAL THUMB

$(".product-thumbList a").click(function () {
var largeImage = $(this).find("img").attr('data-large');
$(".mainImg").attr('src', largeImage);

});

});
							</script>

						{% endblock %}
