<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Fav and touch icons  -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144"
        href="{{asset('assets/ico/apple-touch-icon-144-precomposed.png')}}">
    <link rel="apple-touch-icon-precomposed" sizes="114x114"
        href="{{asset('assets/ico/apple-touch-icon-114-precomposed.png')}}">
    <link rel="apple-touch-icon-precomposed" sizes="72x72"
        href="{{asset('assets/ico/apple-touch-icon-72-precomposed.png')}}">
    <link rel="apple-touch-icon-precomposed" href="{{asset('ico/apple-touch-icon-57-precomposed.png')}}">
    <link rel="shortcut icon" href="{{asset('assets/ico/favicon.png')}}">

    <title>E-Shop</title>
    <!-- Bootstrap core CSS -->
    <link href="{{asset('assets/bootstrap/css/bootstrap.css')}}" rel="stylesheet">

    <!-- styles needed by swiper slider -->
    <link href="{{asset('assets/plugins/swiper-master/css/swiper.min.css')}}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{asset('assets/css/style.css')}}" rel="stylesheet">
    
            <script>
            paceOptions = {
                elements: true
            };
        </script>
    
    
    {% if app.session.get('boutique').couleur != null %}

    <link href="{{asset('assets/css/')}}{{app.session.get('boutique').couleur}}" rel="stylesheet">
    {% else %}
    <link href="{{asset('assets/css/skin-5.css')}}" rel="stylesheet">
    {% endif %}

    <!-- Just for debugging purposes. -->
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->

    <!-- include pace script for automatic web page progress bar  -->

        <script>
            paceOptions = {
                elements: true
            };
        </script>
    <script src="{{asset('assets/js/pace.min.js')}}"></script>
    <style>
        #nomBoutique:hover {
            -webkit-text-stroke: 2px;
            -webkit-text-stroke-color: white;
        }

        .item {
            height: 100%;
        }
    </style>
</head>

<body>

    <!-- Modal Login start -->
     {% if  is_granted('IS_AUTHENTICATED_FULLY ') %}
                  
    <div class="modal signUpContent fade" id="ModalLogin" tabindex="-1" role="dialog">
        <div class="modal-dialog ">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"> &times; </button>
                    <h3 class="modal-title-site text-center"> S'identifier {{app.session.get('boutique').raisonsociale}}</h3>
                </div>
                <div class="modal-body">

                    <form action="{{path('user_login_check', {'boutique': app.session.get('boutique').raisonsociale })}}" method="post">
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

                        <div class="form-group login-username">
                        <div>
                            <input name="_username" id="login-user" class="form-control input" size="20"
                                placeholder="Adresse email" value="{{ last_username }}" type="text" required="required">
                        </div>
                    </div>
                    <div class="form-group login-password">
                        <div>
                            <input id="password" name="_password" class="form-control input" size="20"
                                placeholder="Mot de passe" type="password" required="required">
                        </div>
                    </div>
                    <div class="form-group">
                        <div>
                            <div class="checkbox login-remember">
                                <label>
                                    <input name="rememberme" value="forever" checked="checked" type="checkbox">
                                    Se rappeler des données d'accès </label>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div>
                            <input type="submit" id="_submit" name="_submit" class="btn  btn-block btn-lg btn-primary" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}">
                        </div>
                    </div>
                    </form>



                </div>




                <div class="modal-footer">
                    <p class="text-center"> Nouveau utilisateur? <a data-toggle="modal" data-dismiss="modal"
                            href="#ModalSignup" id="inscrire"> S'inscrire. </a> <br>
                        <a href="forgot-password.html"> Mot de passe oublié? </a></p>
                </div>
            </div>
            <!-- /.modal-content -->

        </div>
        <!-- /.modal-dialog -->

    </div>
    {% endif %}
    <!-- /.Modal Login -->

                
 
    <!-- Modal Signup start -->
    <div class="modal signUpContent fade" id="ModalSignup" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"> &times; </button>
                    <h3 class="modal-title-site text-center"> Inscription </h3>
                    
                </div>
            
                <div class="modal-body">
                    
                        <form action="{{path('inscription_client', {'boutique': app.session.get('boutique').raisonsociale })}}" method="post">
                        
                    <div class="form-group reg-username">
                        <div>
                            <input name="nom" class="form-control input" size="20" placeholder="Entrer votre nom"
                                type="text">
                        </div>
                    </div>
                    <div class="form-group reg-username">
                        <div>
                            <input name="prenom" class="form-control input" size="20" placeholder="Entrer votre prenom"
                                type="text">
                        </div>
                    </div>
                    <div class="form-group reg-email">
                        <div>
                            <input name="email" class="form-control input" size="20" placeholder="Entrer votre Email"
                                type="email" required="required">
                        </div>
                    </div>
                    <div class="form-group reg-password">
                        <div>
                            <input name="password" class="form-control input" size="20"
                                placeholder="Créer un mot de passe" type="password" required="required">
                        </div>
                    </div>
                    
                    <div>
                        <div>
                            <input name="submit" class="btn  btn-block btn-lg btn-primary" value="S'INSCRIRE"
                                type="submit">
                        </div>
                    </div>
                    <!--userForm-->
                        </form>

                </div>
              
                <div class="modal-footer">
                    <p class="text-center"> Déjà membre ? <a data-toggle="modal" data-dismiss="modal"
                            href="#ModalLogin">
                            se connecter </a></p>
                </div>
                    
            </div>
            <!-- /.modal-content -->

        </div>
        <!-- /.modal-dialog -->

    </div>
    <!-- /.ModalSignup End -->

    <!-- Fixed navbar start -->
        {% render(controller('FrontendBundle:Panier:menu') ) %}

    <!-- /.Fixed navbar  -->




    </div>
    <div class="container main-container11">

        <!-- Main component call to action -->

        <div class="row featuredPostContainer globalPadding style2">
        </div>
        <!--/.featuredPostContainer-->
    </div>
    <!-- /main container -->

    <div class="container main-container">
        {% block content %}

        <!-- Main component call to action -->

        <section class=" category  main-container-wrapper clearfix" id="main-container-wrapper">
            <div class="container main-container">

                <!-- Main component call to action -->

                <div class="row">

                    <div class="catTopBar clearfix">
                        <div class="catTopBarInner clearfix">
                            <div class="col-lg-3 col-md-3 col-sm-12">
                                <div class="f-left hidden-xs">
                                    <h4 class="filterToggle"><i class="fa fa-bars"></i> <strong>Filtre</strong> <span>
                                            &nbsp; </span>
                                    </h4>
                                </div>
                            </div>
                            <div class="col-lg-9 col-md-9 col-sm-12">
                                <div class="f-right">
                                    <div class="w100  clearfix center-xs-inner">
                                        <p class="pull-left shrtByP center-xs"><span>Sort By :</span> <a
                                                class="active">NOUVEAU</a> | <a>POPULAIRE</a>| <a>PRIX</a></p>


                                        <div class="pull-right hidden-xs">
                                            <p class="pull-right change-view-flat"><span>Vu par :</span> <a href="#"
                                                    title="Grid" class="grid-view">
                                                    <i class="fa fa-th-large"></i> </a> | <a href="#" title="List"
                                                    class="list-view "><i class="fa fa-th-list"></i></a></p>


                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>

                    <!--left column-->

                    <div class="catColumnWrapper">
                        <div class="col-lg-3 col-md-3 col-sm-12 filterColumn">
                            <div class="panel-group" id="accordion">
                                <!--Category-->
                                <div class="panel panel-flat">
                                    <div class="panel-heading">
                                        <h4 class="panel-title"><a data-toggle="collapse" href="#collapseCategory"
                                                class="">
                                                <span class="pull-right hasMinus"> <i class="i-minus"></i></span>
                                                Catégorie </a>
                                        </h4>
                                    </div>
                                    <div id="collapseCategory" class="panel-collapse collapse in">
                                        <div class="panel-body">
                                            <ul class="nav nav-list">
                                                {% if categories is defined %}
                                                <li><a href="{{ path('homepage_frontend', {'boutique': app.session.get('boutique').raisonsociale }) }}" id="">Tous les produits</a></li>
                                                    {% for categorie in categories %}
                                                        <li><a href="{{ path('client_categorie', { 'categorie': categorie.id, 'boutiqueid': app.session.get('boutique').id }) }}" id="">{{categorie.nom}} </a></li>

                                                    {% endfor %}
                                                {% endif %}
                                                
                                               
                                            
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <!--/Category menu end-->

                                <div class="panel panel-flat">
                                    <div class="panel-heading">
                                        <h4 class="panel-title"><a class="" data-toggle="collapse"
                                                href="#collapsePrice">
                                                Prix <span class="pull-right hasMinus"> <i class="i-minus"></i></span>
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapsePrice" class="panel-collapse collapse in">
                                        <div class="panel-body priceFilterBody ">
                                            <ul class="list-unstyled">
                                                <li>
                                                    <!-- -->
                                                    <label>
                                                        <input type="radio" name="agree" value="0" />
                                                        10 Dt - 50 Dt </label>
                                                </li>

                                                <li><label>
                                                        <input type="radio" name="agree" value="1" />
                                                        50 Dt - 100 Dt </label>
                                                </li>
                                                <li><label>
                                                        <input type="radio" name="agree" value="2" />
                                                        100 Dt - 150 Dt </label>
                                                </li>
                                                <li><label>
                                                        <input type="radio" name="agree" value="3" />
                                                        150 Dt - 200 Dt </label>
                                                </li>
                                                <li><label>
                                                        <input type="radio" name="agree" value="4" />
                                                        200 Dt - 500 Dt </label>
                                                </li>
                                                <li><label>
                                                        <input type="radio" name="agree" value="5" />
                                                        500 Dt - 1000 Dt </label>
                                                </li>
                                                <li><label>
                                                        <input type="radio" name="agree" value="6" checked />
                                                        Je ne sais pas</label></li>
                                            </ul>
                                            <hr>
                                            <p>Enter a Price range </p>

                                            <form class="form-inline " role="form">
                                                <div class="form-group">
                                                    <input type="text" class="form-control" id="exampleInputEmail2"
                                                        placeholder="200 Dt">
                                                </div>
                                                <div class="form-group sp"> -</div>
                                                <div class="form-group">
                                                    <input type="text" class="form-control" id="exampleInputPassword2"
                                                        placeholder="300 Dt">
                                                </div>
                                                <button type="submit"
                                                    class="btn btn-default pull-right">vérifier</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <!--/price panel end-->

                                <!--/discount  panel end-->
                            </div>
                        </div>

                        <!--right column-->
                        <div class="col-lg-9 col-md-9 col-sm-12 categoryColumn">


                            <!--/.productFilter-->
                            <div class="row  categoryProduct xsResponse clearfix">
                               {% if produits is defined %}
                               
                                     {% for produit in produits %}
                              
                                    <div class="item col-sm-4 col-lg-4 col-md-4 col-xs-6">
                                    <div class="product">
                                        <a class="add-fav tooltipHere" data-toggle="tooltip"
                                            data-original-title="Add to Wishlist" data-placement="left">
                                            <i class="glyphicon glyphicon-heart"></i>
                                        </a>

                                        <div class="image">
                                            <div class="quickview">

                                                <a class="btn btn-xs btn-quickview" href="{{path('show_produit',{'id':produit.id})}}">Voir
                                                    détail </a>
                                            </div>
                                              {% if produit.image is null or produit.image is empty %}
                                            <img src="{{ asset('images/product/default.png') }}" alt="img" class="img-responsive">
                                         {% else %}
                                        <img src="{{asset('uploads/produits/')}}{{produit.image}}" alt="img"
                                                    class="img-responsive">
                                            {% endif %}
                                            

                                            <div class="promotion">
                                            {% if produit.quantite != 0 %}
                                            <span class="new-product"> En Stock</span> 
                                            {% else %}
                                            <span class="discount">Hors Stock</span>
                                            {% endif %}
                                        </div>
                                            
                                        </div>
                                        <div class="description">
                                            <h4><a href="product-details.html">{{produit.nom}}</a></h4>

                                            <div class="grid-description">
                                                <p>{{produit.description}}</p>
                                            </div>
                                            <div class="list-description">
                                        
                                            </div>
                                          
                                        </div>
                                        <div class="price"><span>{{produit.prix|number_format(3, '.', ',') }} TND </span></div>
                                        <div class="action-control">
                                            {% if produit.quantite != 0 %}
                                             <a class="btn btn-primary" href="{{path('add_item_to_cart',{'id':produit.id}) }}"> <span
                                                    class="add2cart"><i class="glyphicon glyphicon-shopping-cart"> </i>
                                                    Ajouter au panier </span> 
                                                    </a>
                                            {% else %}
                                             <a class="btn btn-primary" style="background-color: gray;"disabled="disabled"> <span
                                                    class="add2cart"><i class="glyphicon glyphicon-shopping-cart"> </i>
                                                    Ajouter au panier </span> 
                                                    </a>
                                            {% endif %}
                                       

                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                               {% endif %}
                               
                                
                            </div>
                            <!--/.categoryProduct || product content end-->

                            <div class="w100 categoryFooter">
                                <div class="pagination pull-left no-margin-top">
                                    
                                </div>
                                <div
                                    class="pull-right pull-right col-sm-4 col-xs-12 no-padding text-right text-left-xs">
                                </div>
                            </div>
                            <!--/.categoryFooter-->
                        </div>
                        <!--/right column end-->
                    </div>
                    <!--/.catColumnWrapper-->


                </div>
                <!-- /.row  -->
            </div>
            <!-- /main container -->
        </section>
        <!--/.featuredPostContainer-->

        <hr class="no-margin-top">
             {% endblock %} 

     </div>
    <!--main-container-->

    <div class="parallax-section parallax-image-2">
        <div class="w100 parallax-section-overley">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="parallax-content clearfix">
                            <h1 class="xlarge"> Vendeur de confiance 500+ </h1>
                            <h5 class="parallaxSubtitle"> Lorem ipsum dolor sit amet consectetuer </h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/.parallax-section-->

    <!-- Product Details Modal  -->
    <!-- Modal -->
    <div class="modal fade" id="productSetailsModalAjax" tabindex="-1" role="dialog"
        aria-labelledby="productSetailsModalAjaxLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
    <!-- End Modal -->

    <footer>
        <div class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3  col-md-3 col-sm-4 col-xs-6">
                        <h3> Support </h3>
                        <ul>
                            <li class="supportLi">
                                <p> Lorem ipsum dolor sit amet, consectetur </p>
                                <h4><a class="inline" href="callto:+21670733513"> <strong> <i class="fa fa-phone"> </i>
                                            +216 70 733 513 </strong> </a></h4>
                                <h4><a class="inline" href="mailto:help@yourweb.com"> <i class="fa fa-envelope-o"> </i>
                                        help@yourweb.com </a></h4>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
                        <h3> Lien utiles </h3>
                        <ul>
                            <li><a href="#"> Promotions </a></li>
                            <li><a href="#"> Nouveaux produits</a></li>
                            <li><a href="#"> Meilleures ventes </a></li>
                            <li><a href="#"> Contact </a></li>
                            <li><a href="#"> Plan du site </a></li>

                        </ul>

                    </div>

                    <div style="clear:both" class="hide visible-xs"></div>

                    <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
                        <h3> Informations </h3>
                        <ul class="list-unstyled footer-nav">
                            <li><a href="#">Questions? </a></li>

                            <li><a href="#"> A propos </a></li>
                            <li><a href="#"> Mentions légales </a></li>
                            <li><a href="#"> Conditions d'utilisation </a></li>
                            <li><a href="#"> Paiement sécurisé </a></li>
                            <li><a href="#"> Livraisons et retours </a></li>

                        </ul>
                    </div>
                    <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
                        <h3> Mon Compte </h3>
                        <ul>
                            <li><a href="account.html"> Mon compte </a></li>
                            <li><a href="my-address.html"> Mes adresses </a></li>
                            <li><a href="wishlist.html"> Liste de souhaits </a></li>
                            <li><a href="order-list.html"> Mes commandes </a></li>
                            <li><a href="order-status.html"> Statut de la commande </a></li>
                        </ul>
                    </div>

                    <div style="clear:both" class="hide visible-xs"></div>

                    <div class="col-lg-3  col-md-3 col-sm-6 col-xs-12 ">
                        <h3> Reste en contact </h3>
                        <ul>
                            <li>
                                <div class="input-append newsLatterBox text-center">
                                    <input type="text" class="full text-center" placeholder="Email ">
                                    <button class="btn  bg-gray" type="button">Souscrire <i
                                            class="fa fa-long-arrow-right"> </i></button>
                                </div>
                            </li>
                        </ul>
                        <ul class="social">
                            <li><a href="http://facebook.com" target="_blank"> <i class=" fa fa-facebook"> &nbsp; </i>
                                </a></li>
                            <li><a href="http://twitter.com" target="_blank"> <i class="fa fa-twitter"> &nbsp; </i> </a>
                            </li>
                            <li><a href="https://plus.google.com" target="_blank"> <i class="fa fa-google-plus"> &nbsp;
                                    </i> </a></li>

                            <li><a href="http://youtube.com" target="_blank"> <i class="fa fa-youtube"> &nbsp; </i> </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!--/.row-->
            </div>
            <!--/.container-->
        </div>
        <!--/.footer-->

        <div class="footer-bottom">
            <div class="container">
                <p class="pull-left"> &copy; by APP4MOB 2016. All right reserved. </p>

                <div class="pull-right paymentMethodImg"><img height="30" class="pull-right"
                        src="{{asset('images/site/payment/master_card.png')}}" alt="img"> <img height="30" class="pull-right"
                        src="{{asset('images/site/payment/visa_card.png')}}" alt="img"><img height="30" class="pull-right"
                        src="{{asset('images/site/payment/paypal.png')}}" alt="img">
                    <img height="30" class="pull-right" src="{{asset('images/site/payment/american_express_card.png')}}" alt="img">
                    <img height="30" class="pull-right" src="{{asset('images/site/payment/discover_network_card.png')}}" alt="img">
                    <img height="30" class="pull-right" src="{{asset('images/site/payment/google_wallet.png')}}" alt="img">

                </div>
            </div>
        </div>
        <!--/.footer-bottom-->
    </footer>

    <!-- Le javascript
================================================== -->
  {% block javascripts %}
    <!-- Placed at the end of the document so the pages load faster -->



<script type="text/javascript" src="{{asset('assets/js/jquery/jquery-1.10.1.min.js')}}"></script>
<script src="{{asset('assets/bootstrap/js/bootstrap.min.js')}}"></script>
<script src="{{asset('assets/plugins/swiper-master/js/swiper.jquery.min.js')}}"></script>
<script>


            var swiper = new Swiper('.swiper-container', {
                pagination: '.swiper-pagination',
                nextButton: '.nextControl',
                prevButton: '.prevControl',
                keyboardControl: true,
                paginationClickable: true,
                slidesPerView: 'auto',
                autoResize: true,
                resizeReInit: true,
                spaceBetween: 0,
                freeMode: true
            });


</script>

<!-- include jqueryCycle plugin -->
<script src="{{asset('assets/js/jquery.cycle2.min.js')}}"></script>

<!-- include easing plugin -->
<script src="{{asset('assets/js/jquery.easing.1.3.js')}}"></script>

<!-- include  parallax plugin -->
<script type="text/javascript" src="{{asset('assets/js/jquery.parallax-1.1.js')}}"></script>

<!-- optionally include helper plugins -->
<script type="text/javascript" src="{{asset('assets/js/helper-plugins/jquery.mousewheel.min.js')}}"></script>

<!-- include mCustomScrollbar plugin //Custom Scrollbar  -->

<script type="text/javascript" src="{{asset('assets/js/jquery.mCustomScrollbar.js')}}"></script>

<!-- include icheck plugin // customized checkboxes and radio buttons   -->
<script type="text/javascript" src="{{asset('assets/plugins/icheck-1.x/icheck.min.js')}}"></script>

<!-- include grid.js // for equal Div height  -->
<script src="{{asset('assets/js/grids.js')}}"></script>

<!-- include carousel slider plugin  -->
<script src="{{asset('assets/js/owl.carousel.min.js')}}"></script>

<!-- jQuery select2 // custom select   -->
<script src="http://cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.min.js"></script>

<!-- include touchspin.js // touch friendly input spinner component   -->
<script src="{{asset('assets/js/bootstrap.touchspin.js')}}"></script>

<!-- include custom script for only homepage  -->
<script src="{{asset('assets/js/home.js')}}"></script>

<!-- include custom script for site  -->
<script src="{{asset('assets/js/script.js')}}"></script>
{% endblock %}
</body>

</html>