::selection {
    color: #ffffff;
    background: #4bb777;
}

::-moz-selection {
    color: #ffffff;
    background: #4bb777;
}

.site-color {
    color: #4ec67f !important;
}

a:hover,
a:focus,
a.link,
.link {
    color: #4ec67f;
}

.search-full,
.search-input {
    background: #4bb777;
}

.search-close {
    color: #4bb777;
}

.searchInputBox .search-btn {
    color: #ffffff;
}

.navbar-tshop {
    background: #4ec67f;
}

.btn-primary,
.product:hover .add-fav:hover,
.product:hover .add-fav.active {
    background-color: #4ec67f;
    color: #ffffff;
}

.btn-primary:hover,
.btn-primary:focus,
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
    background-color: #66de97;
    border-color: #66de97;
    color: #ffffff;
}

.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle. {
    background-color: #66de97;
    border-color: #66de97;
    color: #ffffff;
    background: #4ec67f;
}

.navbar-top {
    background: #4bb777;
}

.navbar-nav > li > a {
    color: #ffffff;
}

.nav > li.active,
.nav > li > a:hover,
.nav > li > a:focus,
.nav > li:hover > a {
    background: #27ae60;
}

.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus,
.cartMenu:hover > a.dropdown-toggle {
    background: #27ae60;
}

.dropdown-menu {
    border-top: solid #27ae60;
}

.search-box:hover .form-control {
    background: #4ec67f;
}

.search-box:hover .btn-nobg {
    color: #4ec67f;
}

.mCS-dark-2 > .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background-color: #4ec67f !important;
    background-color: rgba(78, 198, 127, 0.5) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#804ec67f, endColorstr=#804ec67f) !important;
    -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#804ec67f, endColorstr=#804ec67f) !important;
}

.action-control a:hover,
.action-control a.active {
    color: #ffffff;
    background: #27ae60;
}

.product:hover,
.featuredImgLook2 .inner:hover {
    border: 1px solid #4ec67f;
}

.subCategoryList .thumbnail:hover {
    border: 1px solid #4ec67f;
}

#pager a.cycle-pager-active {
    background-color: #4bb777 !important;
    background-color: rgba(75, 183, 119, 0.7) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#b34bb777, endColorstr=#b34bb777) !important;
    -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#b34bb777, endColorstr=#b34bb777) !important;
}

.pager2 a {
    border: 1px solid #4ec67f;
}

.pager2 a.selected {
    background: #4ec67f;
}

.btn-site,
.newsLatterBox .btn {
    background: #4ec67f;
}

.btn-discover:hover,
.btn-site:hover,
.newsLatterBox .btn:hover {
    background: #27ae60;
}

.full {
    width: 100%;
}

.footer a:hover {
    color: #4ec67f;
}

.modal-header {
    background: #4ec67f;
}

.form-control:focus {
    border-color: #4ec67f;
}

.new-product {
    background-color: #4ec67f !important;
    background-color: rgba(78, 198, 127, 0.95) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#f24ec67f, endColorstr=#f24ec67f) !important;
    -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#f24ec67f, endColorstr=#f24ec67f) !important;
}

.nav.tree > li.active,
.nav.tree > li > a:hover,
.nav.tree > li > a:focus,
.nav.tree > li:hover > a {
    background: none;
    color: #2a2a2a;
}

.nav.tree .open-tree > a,
.nav.tree .open-tree > a:hover,
.nav.tree .open-tree > a:focus {
    background: none;
    font-weight: bold;
    color: #2a2a2a;
}

.panel-default > .panel-heading {
    border-top: 4px solid #4ec67f;
}

.nav-tabs {
    border-bottom: 3px solid #bfc9ca;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus,
.nav-tabs > li:hover > a {
    background: #bfc9ca;
}

.socialIcon a:hover {
    background: #4ec67f;
}

.cart-actions button,
.cart-actions .wishlist {
    background: none repeat scroll 0 0 #4ec67f;
    border: 2px solid #27ae60;
}

.cart-actions button:hover {
    background: #ffffff;
    color: #2a2a2a;
    border: solid 2px #4ec67f;
}

.sp-thumbs a:hover,
.sp-thumbs a:active,
.sp-current,
sp-current:visited {
    border: 2px solid #4ec67f !important;
}

.promo-1 {
    background: none repeat scroll 0 0 #27ae60;
}

#pager2 span.cycle-pager-active {
    background: #4ec67f !important;
}

#pager2 span {
    border: 2px solid #4ec67f;
}

.orderStep li.active a {
    background: #4ec67f;
}

.orderStep li.active a:after {
    border-top-color: #4ec67f !important;
}

.orderStep li a {
    background: #66de97;
}
