{% extends "AdminBundle:Default:template.html.twig" %}
{% block page %}
<div class="page">
    <div class="page-content container-fluid pb-0">
     
            <div class="col-lg-12 bg-white mx-auto pb-4">
                <h1 class="text-left">Filter</h1>
                <hr />
                 <form method="GET" action="{{ path('utilisateurs_recherche') }}">
                <div class="row">
                    
                   
                    <div class="col-md-4">
                        <label for="email">Recherche par Email:</label>
                        <input type="email" name="email" id="searchEmail" class="form-control">
                    </div>
                
                    <div class="col-md-4 my-auto">
                    <br>
                        <button type="submit" class="btn btn-success">Recherche</button>
                    </div>
                   
                </div>
                 </form>

            </div>
     
    </div>

    <div class="page-content container-fluid pt-0">
        <div class="col-lg-12 bg-white mx-auto">
            <h1 class="text-left">Liste des Utilisateurs</h1>
            <hr />
            <table class="table table-striped">
                <thead>
                    <tr>

                        <th>Username</th>
                        <th>Firstname</th>
                        <th>Lastname</th>
                        <th>email</th>
                        <th>Matriculefiscale</th>
                        <th>Role</th>
                        <th>Statut</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>

                    {% for utilisateur in utilisateurs %}

                    {% if utilisateur.enabled == false %}
                    {% set myclass = "bg-secondary text-dark" %}
                    {% else %}
                    {% set myclass = "" %}
                    {% endif %}

                    <tr class="{{ myclass }}">
                        <td>{{ utilisateur.userName }}</td>
                        <td>{{ utilisateur.firstName }}</td>
                        <td>{{ utilisateur.lastName }}</td>
                        <td>{{ utilisateur.email }}</td>
                        <td>{{ utilisateur.matriculeFiscale }}</td>
                        <td>
                            {% for role in utilisateur.roles %}
                            {% if role != "ROLE_USER" %}
                            {{ role | slice(5) }}
                            {% endif %}
                            {% endfor %}

                        </td>
                        <td>
                            {% if utilisateur.enabled == false %}
                            <i class="md-close text-danger" style="font-size: 25px;"></i>
                            {% else %}
                            <i class="md-check text-success" style="font-size: 25px;"></i>
                            {% endif %}
                        </td>
                        <td>
                            {% if utilisateur.enabled == false %}
                            <a href="{{ path('utilisateurs_enable', { 'id': utilisateur.id }) }}"
                                class="btn btn-success">
                                <i class="md-lock-open"></i>
                            </a>
                            {% else %}
                            <a href="{{ path('utilisateurs_disable', { 'id': utilisateur.id }) }}"
                                class="btn btn-danger">
                                <i class="md-lock"></i>
                            </a>
                            {% endif %}


                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>
    </div>
</div>

{% endblock %}