{% extends "AdminBundle:Default:template.html.twig" %}
{% block page %}
	<div class="page">
		<div class="page-content container-fluid">
			<div class="col-lg-12 mx-auto bg-white">
				<div class="col-lg-4 mx-auto bg-white">
					<h1 class="text-center">Modifier Catégorie</h1>
					<hr>
					{{ form_start(edit_form) }}
					<div class="my-custom-class-for-errors">
						{{ form_errors(edit_form) }}
					</div>

					<label for="nom">Nom:</label>
					{{ form_widget(edit_form.nom, {'attr': {'class': 'form-control'}}) }}
					<label for="nom">Secteur d'activité:</label>
					{{ form_widget(edit_form.secteurActivity, {'attr': {'class': 'form-control'}}) }}
					<div class="text-center m-3 p-3">
						<button type="submit" class="btn btn-success col-lg-5" value="Ajouter">
                        												<i class="icon md-edit"></i>

                        Modifier</button>
						{{ form_end(edit_form) }}

						<a href="{{ path('categories_delete', { 'id': category.id }) }}" class="btn btn-danger col-lg-5" value="Ajouter">
                        												<i class="icon md-delete"></i>

                        Supprimer</a>

					</div>


					<hr><br><br>

				</div>
			</div>
		</div>
	</div>
{% endblock %}
