{% extends "AdminBundle:Default:template.html.twig" %}
{% block page %}

	<div class="page">
		<div class="page-content container-fluid">
			<div class="col-lg-12 mx-auto bg-white">
				<div class="row">
					<div class="col-lg-6">
						<h1>Liste des Catégories</h1>
					</div>
					<div class="col-lg-6 text-right my-auto py-auro">
						<a href="{{ path('categories_new') }}" class="btn btn-success my-auto">
							<i class="icon md-plus-circle"></i>
							Ajouter Catégorie</a>

					</div>


				</div>
				<hr>

				<div class="row">
					<div class="col-lg-12">
						<table class="table table-striped">
							<thead>
								<tr class="text-center">


									<th>Nom</th>
									<th>Secteur</th>
									<th>Actions</th>
								</tr>
							</thead>
							<tbody>
								{% for category in categories %}
									<tr class="text-center">


										<td>{{ category.nom }}</td>
										<td>{{ category.secteurActivity.nom }}</td>

										<td>
											<a href="{{ path('categories_delete', { 'id': category.id }) }}" class="btn btn-link bordered border-primary">
												<i class="icon md-delete"></i>
											</a>


											<a href="{{ path('categories_edit', { 'id': category.id }) }}" class="btn btn-link bordered border-primary">
												<i class="icon md-edit"></i>
											</a>

										</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</div>


		</div>
	</div>

{% endblock %}
