{% extends "AdminBundle:Default:template.html.twig" %}
{% block page %}
	<div class="page">
		<div class="page-content container-fluid">
			<div class="col-lg-12 mx-auto bg-white">
				<div class="col-lg-4 mx-auto bg-white">
					<h1 class="text-center">Ajout Catégorie</h1>
<hr>
					{{ form_start(form) }}
					<div class="my-custom-class-for-errors">
						{{ form_errors(form) }}
					</div>

					<label for="nom">Nom:</label>
					{{ form_widget(form.nom, {'attr': {'class': 'form-control'}}) }}
					<label for="nom">Secteur d'activité:</label>
					{{ form_widget(form.secteurActivity, {'attr': {'class': 'form-control'}}) }}
					<div class="text-center m-3 p-3">
						<button type="submit" class="btn btn-success col-lg-5" value="Ajouter" >Ajouter</button>
						<a href="{{ path('categories_index') }}" class="btn btn-primary col-lg-5">Retour</a>
					</div>
					{{ form_end(form) }}
<hr><br><br>

				</div>
			</div>
		</div>
	</div>

{% endblock %}
