{% extends "AdminBundle:Default:template.html.twig" %}
{% block page %}
<div class="page">
    <div class="page-content container-fluid">
       

   <div class="col-lg-4 mx-auto">
    <h1 class="text-center">Categories</h1>
    <table class="table table-bordered rounded">
        <tbody>
         
         
            <tr>
                <th class="bg-dark">Nom</th>
                <th class="bg-dark">Action</th>
               

            </tr>
            <tr>
                <td>{{ category.nom }}</td>
                <td>
                    <a href="{{ path('categories_index') }}" class="btn btn-success btn-block">Retour</a>
  
  <a href="{{ path('categories_edit', { 'id': category.id }) }}" class="btn btn-warning btn-block mb-3">Modifier</a>

  {{ form_start(delete_form) }}
      <input type="submit" value="Delete" class="btn btn-danger btn-block">
  {{ form_end(delete_form) }}
                </td>
            </tr>
        </tbody>
    </table>

   </div>
 
         
 

    </div>
</div>

{% endblock %}



