{% extends "AdminBundle:Default:template.html.twig" %}
{% block page %}
	<div class="page">
		<div class="page-content container-fluid">
			<div class="bg-white mx-auto">
				<h1 class="text-center">Liste des boutiques</h1>


				<table class="table table-striped">
					<thead>
						<tr class="text-center">
							<th>Logo</th>

							<th>Raisonsociale</th>
							<th>Nomdomaine</th>
							<th>Email</th>
							<th>Description</th>
							<th>Tel</th>


							<th>Actions</th>
						</tr>
					</thead>
					<tbody>

						{% for boutique in boutiques %}
							{% if boutique.responsable.enabled == false %}
								{% set myclass = "bg-secondary text-dark" %}
							{% else %}
								{% set myclass = "" %}
							{% endif %}
							<tr class="{{ myclass }} text-center">
								<td><img src="{{ asset('uploads/logo/') }}{{ boutique.logo }}" alt="" class="rounded"></td>

								<td>{{ boutique.raisonsociale }}</td>
								<td>{{ boutique.nomdomaine }}</td>
								<td>{{ boutique.email }}</td>
								<td>{{ boutique.description }}</td>
								<td>{{ boutique.tel }}</td>

								{#   <td><span class="rounded px-25 text-white" style="color:white; background-color: {{ boutique.couleur }};"></span></td>
								 #}

								<td>
									{% if boutique.responsable.enabled== false %}
										<a href="{{ path('boutique_enable', { 'id': boutique.id }) }}" class="btn btn-success">
											<i class="md-lock-open"></i>
										</a>
									{% else %}
										<a href="{{ path('boutique_disable', { 'id': boutique.id }) }}" class="btn btn-danger">
											<i class="md-lock"></i>
										</a>
									{% endif %}

								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>


			</div>
		</div>
	</div>

{% endblock %}
