{% extends "AdminBundle:Default:template.html.twig" %}
{% block page %}
<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
<div class="page">
    <div class="page-content container-fluid">
        <div class="col-lg-6 mx-auto bg-white">
            <h1 class="text-center">Creation Boutique</h1>

{{ form_start(form) }}
    {{ form_widget(form) }}
    <input type="submit" value="Create" />
{{ form_end(form) }}

<ul>
    <li>
        <a href="{{ path('boutique_index') }}">Back to the list</a>
    </li>
</ul>
        </div>
    </div>
</div>
<script>
   
    $('input, select').addClass("form-control");
    $('input:submit').addClass("bg-success mt-5")
/*     document.getElementById("boutique_couleur1").type="color";
    document.getElementById("boutique_couleur1").value="#ff2600";
    document.getElementById("boutique_couleur2").type="color";
    document.getElementById("boutique_couleur2").value="#ff3e64";
    document.getElementById("boutique_couleur3").type="color";
    document.getElementById("boutique_couleur3").value="#ffa8a9"; */
</script>
{% endblock %}


