{% extends "AdminBundle:Default:template.html.twig" %}
{% block page %}
<div class="page">
    <div class="page-content container-fluid">
        <div class="col-lg-6 mx-auto bg-white">
            <h1 class="text-center">Boutique</h1>

<div class="row">
    <div class="col-lg-2">
       <img src="{{ boutique.logo }}" width="100%" height="100%" class="rounded-circle my-auto mx-auto" alt="">
     
    </div>
    <div class="col-lg-10">
        <table>
    <tbody>
   
        <tr>
            <th>Nom</th>
            <td>{{ boutique.nom }}</td>
        </tr>
        <tr>
            <th>Raisonsociale</th>
            <td>{{ boutique.raisonsociale }}</td>
        </tr>
        <tr>
            <th>Nomdomaine</th>
            <td>{{ boutique.nomdomaine }}</td>
        </tr>
        <tr>
            <th>Email</th>
            <td>{{ boutique.email }}</td>
        </tr>
        <tr>
            <th>Description</th>
            <td>{{ boutique.description }}</td>
        </tr>
        <tr>
            <th>Tel</th>
            <td>{{ boutique.tel }}</td>
        </tr>
     {# 
        <tr>
            <th>Couleur</th>
            <td><span class="rounded px-25 text-white" style="color:white; background-color: {{ boutique.couleur }};"></td>
        </tr> #}
       
    </tbody>
</table>
    </div>
</div>

<ul>
    <li>
        <a href="{{ path('boutique_index') }}">Back to the list</a>
    </li>
    <li>
        <a href="{{ path('boutique_edit', { 'id': boutique.id }) }}">Edit</a>
    </li>
    <li>
        {{ form_start(delete_form) }}
            <input type="submit" value="Delete">
        {{ form_end(delete_form) }}
    </li>
</ul>
        </div>
    </div>
</div>

{% endblock %}

