{% extends "AdminBundle:Default:template.html.twig" %}
{% block page %}
	<div class="page">
		<div class="page-content container-fluid">
			<div class="col-lg-12 mx-auto bg-white">
				<div class="row">


					<div class="col-md-6">
						<h1>Modifier Secteur</h1>
					</div>
				</div>

				<hr>
				<div class="col-md-8 col-lg-6 mx-auto">
					{{ form_start(edit_form) }}
					<div class="form-group">
						<div class="input-group">
							{{ form_widget(edit_form.nom, {'attr': {'class': 'form-control'}}) }}

							<div class="input-group-btn">

									<button type="submit" class="btn btn-primary waves-effect waves-classic">Modifier</button>
									{{ form_end(edit_form) }}
									{{ form_start(delete_form) }}
									<button type="submit" class="btn btn-warning waves-effect waves-classic">Supprimer</button>
									{{ form_end(delete_form) }}


							</div>
						</div>
					</div>
				</div>
				<hr><br><br><br>

			</div>

		{% endblock %}
