{% extends "AdminBundle:Default:template.html.twig" %}
{% block page %}
	<div class="page">
		<div class="page-content container-fluid">
			<div class="col-lg-12 mx-auto bg-white">
				<div class="row">


					<div class="col-md-6">
						<h1>Ajouter un secteur d'activité</h1>
					</div>
				</div>

				<hr>
				<div class="col-md-8 col-lg-6 mx-auto">
       {{ form_start(form) }}
					<div class="form-group">
						<div class="input-group">
							{{ form_widget(form.nom, {'attr': {'class': 'form-control'}}) }}

							<div class="input-group-btn">

									<button type="submit" class="btn btn-primary waves-effect waves-classic">Ajouter</button>
									{{ form_end(form) }}
									<button type="submit" class="btn btn-warning waves-effect waves-classic"><a href='{{path('secteuractivity_index')}}' style='color:white'>Annuler</a></button>


							</div>
						</div>
					</div>
				</div>
				<hr><br><br><br>

			</div>



{% endblock %}



