{% extends "AdminBundle:Default:template.html.twig" %}
{% block page %}
<div class="page">
    <div class="page-content container-fluid">
        <div class="col-lg-4 bg-white mx-auto">
            <h1 class="text-center">Secteur d'Activité</h1>

            <table class="jsgrid-table table table-striped table-hover">
                <tbody>

                    <tr class="jsgrid-header-row">
                        <th class="jsgrid-header-cell jsgrid-header-sortable">Nom</th>
                        <th class="jsgrid-header-cell jsgrid-header-sortable">Action</th>

                    </tr>
                    <tr class="jsgrid-insert-row">
                        <td class="jsgrid-cell">{{ secteurActivity.nom }}</td>
                        <td class="jsgrid-cell" width="10%">
                            <a href="{{ path('secteuractivity_index') }}" class="btn btn-primary btn-block">Retour</a>

                            <a href="{{ path('secteuractivity_edit', { 'id': secteurActivity.id }) }}" class="btn btn-warning btn-block  mb-3">Modifier</a>

                            {{ form_start(delete_form) }}
                            <input type="submit" value="Delete" class="btn btn-danger btn-block">
                            {{ form_end(delete_form) }}
                        </td>
                    </tr>
                </tbody>
            </table>



        </div>
    </div>
</div>

{% endblock %}