{% extends 'FrontendBundle:Default:myboutique.html.twig' %}

    {% block content %}

        <div class="row">
            <div class="col-lg-9 col-md-9 col-sm-7">
                <h1 class="section-title-inner"><span><i class="fa fa-unlock-alt"></i> Mon compte </span></h1>

                <div class="row userInfo">
                    <div class="col-xs-12 col-sm-12">

                        <h2 class="block-title-2"><span>Bienvenue sur votre compte. Ici, vous pouvez gérer tous vos renseignements personnels et les commandes.</span>
                        </h2>
                        <ul class="myAccountList row">
                            <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4  text-center ">
                                <div class="thumbnail equalheight"><a title="My addresses" href="{{ path("profile_adresse") }}"><i
                                                class="fa fa-map-marker"></i> Mes adresses</a></div>
                            </li>
                            <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4  text-center ">
                                <div class="thumbnail equalheight"><a title="Editer mes information"
                                                                      href="{{ path("profile_edit") }}"><i class="fa fa-cog"></i>
                                        Editer mes informations</a></div>
                            </li>
                            <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4  text-center ">
                                <div class="thumbnail equalheight"><a title="Changer mot de passe" href="{{ path("password_edit") }}"> <i
                                                class="fa fa-edit"> </i> Changer mon mot de passe</a></div>
                            </li>

                            <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4  text-center ">
                                <div class="thumbnail equalheight"><a title="Déconnexion" href="{{path('logout_user', {'boutique': app.session.get('boutique').raisonsociale })}}"><i
                                                class="fa  fa-sign-out"></i> Déconnexion </a></div>
                            </li>
                        </ul>
                        <div class="clear clearfix"></div>
                    </div>
                </div>
                <!--/row end-->

            </div>
            <div class="col-lg-3 col-md-3 col-sm-5"></div>
        </div>
        <!--/row-->

    {% endblock  %}
