{% extends 'FrontendBundle:Default:myboutique.html.twig' %}

{% block content %}

	<div class="row">
		<div class="col-lg-9 col-md-9 col-sm-7">
			<h1 class="section-title-inner">
				<span>
					<i class="fa fa-unlock-alt"></i>
					Mes informations
				</span>
			</h1>

			<div class="row userInfo">


				<form action="{{ path('profile_edit') }}" method="POST">

                    {% for message in app.session.flashBag.get('editinfo') %}
							<div class="alert alert-success alert-dismissible" role="alert">
								<button type="button" class="close" data-dismiss="alert" aria-label="Close">
									<span aria-hidden="true">×</span>
								</button>
								{{ message }}
							</div>
					{% endfor %}

					<div class="col-xs-12 col-sm-6">
						<div class="form-group required">
							<label for="InputPasswordCurrent">
								Nom
								<sup>
									*
								</sup>
							</label>
							{{ form_widget(form.firstName,{"attr" : {"class":"form-control"} }) }}
							{{ form_errors(form.firstName) }}
						</div>

						<div class="form-group required">
							<label for="InputPasswordCurrent">
								Prénom
								<sup>
									*
								</sup>
							</label>
							{{ form_widget(form.lastName,{"attr" : {"class":"form-control"} }) }}
							{{ form_errors(form.lastName) }}
						</div>

						<div class="form-group">
							<label for="InputPasswordCurrent">
								Matricule Fiscale
								<sup>
									*
								</sup>
							</label>
							{{ form_widget(form.matriculeFiscale,{"attr" : {"class":"form-control"} }) }}
							{{ form_errors(form.matriculeFiscale) }}
						</div>

						<div class="form-group required">
							<label for="InputPasswordnew">
								Adresse e-mail
								<sup>
									*
								</sup>
							</label>
							{{ form_widget(form.email,{"attr" : {"class":"form-control"} }) }}
							{{ form_errors(form.email) }}
						</div>
						<div class="form-group required">
							<label for="InputPasswordnewConfirm">
								Mot de passe actuel
								<sup>
									*
								</sup>
							</label>
							{{ form_widget(form.password,{"attr" : {"class":"form-control"} }) }}
							{{ form_errors(form.password) }}
						</div>
					</div>
					<div class="col-lg-12">
						<button type="submit" class="btn   btn-primary">
							<i class="fa fa-save"></i>
							&nbsp; Mettre à jour</button>
					</div>
					{{ form_widget(form._token) }}
				</form>
				<div class="col-lg-12 clearfix">
					<ul class="pager">
						<li class="previous pull-right">
							<a href="{{ path("homepage_frontend",{'boutique':app.session.get('boutique').raisonsociale}) }}">
								<i class="fa fa-home"></i>
								Continuer vos achats
							</a>
						</li>
						<li class="next pull-left">
							<a href="{{ path("compte") }}">
								&larr; Mon compte</a>
						</li>
					</ul>
				</div>
			</div>
			<!--/row end-->

		</div>
		<div class="col-lg-3 col-md-3 col-sm-5"></div>
	</div>
	<!--/row-->
{% endblock %}
