{% extends 'BoutiqueBundle:Default:index.html.twig' %}

{% block page %}


<div class="page">

    <div class="page-content">
        {{ form_start(edit_form) }}
        <!-- Panel Controls Sizing -->
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">Modifier Produit </h3>
            </div>
            <div class="panel-body container-fluid col-lg-6 mx-auto">
                <div class="example-wrap">
                    <h4 class="example-title"> Nom Produit</h4>
                    <div class="example">
                        {{ form_widget(edit_form.nom, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
                <div class="example-wrap">
                    <h4 class="example-title">Categories </h4>
                    <div class="example">
                        <select class="form-control" name="produits[categorie]">
                            <option selected disabled >choisir une categorie</option>
                            {% for c in edit_form.categorie.vars.choices %}

                                {% if c.data.secteurActivity == boutique.secteur%}
                                    <option value="{{c.value}}">{{ c.label }}</option>
                                {% endif %}

                            {% endfor %}
                        </select>                    </div>
                    <div class="example-wrap">
                        <h4 class="example-title"> Prix Produit</h4>
                        <div class="example">
                            {{ form_widget(edit_form.prix, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                    <div class="example-wrap">
                        <h4 class="example-title">Quantité </h4>
                        <div class="example">
                            {{ form_widget(edit_form.quantite, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                    <div class="example-wrap"  >
                        <h4 class="example-title">Image </h4>
                        <div class="example">
                            <div class="input-group input-group-file" data-plugin="inputGroupFile">
                                {{ form_widget(edit_form.imageFile, {'attr': {'class': 'form-control'}}) }}
                                <span class="input-group-btn">
                                    <span class="btn btn-primary btn-file waves-effect waves-classic" onclick="showDiv1()">
                                        <i class="icon md-collection-plus" aria-hidden="true"></i>
                                    </span>
                                    </span>
                            </div>
                        </div>
                    </div>
                    <div class="example-wrap" style="display:none;" id="welcomeDiv1">
                        <h4 class="example-title">Image2 </h4>
                        <div class="example">
                            <div class="input-group input-group-file" data-plugin="inputGroupFile">
                                {{ form_widget(edit_form.imageFile1, {'attr': {'class': 'form-control'}}) }}
                                <span class="input-group-btn">
                                    <span class="btn btn-primary btn-file waves-effect waves-classic" onclick="showDiv2()">
                                        <i class="icon md-collection-plus" aria-hidden="true"></i>
                                    </span>
                                    </span>
                            </div>
                        </div>
                    </div>
                    <div class="example-wrap" style="display:none;" id="welcomeDiv2">
                        <h4 class="example-title">Image3 </h4>
                        <div class="example">
                            <div class="input-group input-group-file" data-plugin="inputGroupFile">
                                {{ form_widget(edit_form.imageFile2, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>
                    </div>
                    <div class="example-wrap">
                        <h4 class="example-title">Fiche Technique </h4>
                        <div class="example">
                            <div class="input-group input-group-file" data-plugin="inputGroupFile">
                                {{ form_widget(edit_form.file, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>
                    </div>
                    <div class="example-wrap">
                        <h4 class="example-title">Description  </h4>
                        <div class="example">
                            {{ form_widget(edit_form.description, {'attr': {'class': 'form-control'}}) }}
                        </div>
                        <div class="example-wrap">
                            <div class="example">
                                <div class="checkbox-custom checkbox-primary center-block">
                                    {{ form_widget(edit_form.is_active, {'attr': {'class': 'form-control'}}) }}
                                    <label for="inputChecked">Is Active</label>
                                </div>
                            </div>
                        </div>
                        <div class="example-wrap">
                            <div class="col-lg-4 ml-auto">
                                <button type="submit" class="btn btn-raised btn-primary btn-block active waves-effect waves-classic">Modifier</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Panel Controls Sizing -->

            </div>
            {{ form_end(edit_form) }}
        </div>
        <!-- End Page -->
{% endblock %}
