{% extends 'BoutiqueBundle:Default:index.html.twig' %}

{% block page %}

	<div class="page">

		<div class="page-content container-fluid">
			<div class="col-lg-12 mx-auto bg-white">
				<!-- Panel Basic -->

				<header class="panel-heading">
					<div class="row">
						<div class="col-lg-6 col-xs-6 text-left">
							<h3 class="panel-title">Gestion Des Produits</h3>
						</div>
						<div class="col-lg-6 col-xs-6 text-right">
							<br>
							<a href="{{ path('produits_new') }}" class="btn btn-primary waves-effect waves-classic ">
								<span>
									<i class="icon md-collection-plus" aria-hidden="true"></i>Ajout Produit
								</span>
							</a>
						</div>
					</div>
					<form class="row" action="{{ path('rechercheproduit')}}" method="get">
						<div class="col-lg-3 col-xs-3 text-right">
							<input type="text" class="form-control" name="recherche" placeholder="recherche produit...">
						</div>
						<div class="col-lg-6 col-xs-6 text-left">
							<button type="submit" class="btn btn-primary waves-effect waves-classic">
								<i class="icon md-search" aria-hidden="true"></i>
								rechercher
							</button>
						</div>
					</form>
					<br><br>
				</header>
				<div class="panel-body">
					<div id="exampleBasic" class="jsgrid" style="position: relative; height: 500px; width: 100%;">
						<div class="jsgrid-grid-header jsgrid-header-scrollbar">
							<table class="jsgrid-table table table-striped table-hover">
								<tr class="jsgrid-header-row">
									<th class="jsgrid-header-cell jsgrid-header-sortable" style="width: 50px;">Id</th>
									<th class="jsgrid-header-cell jsgrid-align-right jsgrid-header-sortable" style="width: 150px;">Images</th>
									<th class="jsgrid-header-cell jsgrid-align-right jsgrid-header-sortable" style="width: 50px;">Nom</th>
									<th class="jsgrid-header-cell jsgrid-align-right jsgrid-header-sortable" style="width: 50px;">Categorie</th>

									<th class="jsgrid-header-cell jsgrid-align-right jsgrid-header-sortable" style="width: 300px;">Description</th>
									<th class="jsgrid-header-cell jsgrid-header-sortable" style="width: 50px;">Prix</th>
									<th class="jsgrid-header-cell jsgrid-align-center jsgrid-header-sortable" style="width: 30px;">Quantité</th>
									<th class="jsgrid-header-cell jsgrid-align-center jsgrid-header-sortable" style="width: 30px;">Nb Achat</th>
									<th class="jsgrid-header-cell jsgrid-align-center" style="width: 50px;">Is Active</th>
									<th class="jsgrid-header-cell jsgrid-align-center jsgrid-header-sortable" style="width: 100px;">Fiche Technnique</th>
									<th class="jsgrid-header-cell jsgrid-control-field jsgrid-align-center" style="width: 100px;">Action</th>
								</tr>
								{% for produit in produits %}
									<tr class="jsgrid-row">
										<td class="jsgrid-cell" style="width: 50px;">{{ produit.id }}
										</td>
										<td class="jsgrid-cell jsgrid-align-right" style="width: 150px;">
											{% if produit.image %}
												<img class="img-rounded img-bordered img-bordered-primary" width="40" height="40" src="{{ asset('uploads/produits/') }}{{ produit.image }}" alt="...">
											{% endif %}
											{% if produit.image1 %}
												<img class="img-rounded img-bordered img-bordered-primary" width="40" height="40" src="{{ asset('uploads/produits/') }}{{ produit.image1 }}" alt="...">
											{% endif %}
											{% if produit.image2 %}
												<img class="img-rounded img-bordered img-bordered-primary" width="40" height="40" src="{{ asset('uploads/produits/') }}{{ produit.image2 }}" alt="...">
											{% endif %}
										</td>
										<td class="jsgrid-cell jsgrid-align-right" style="width: 50px;">{{ produit.nom }}</td>
										<td class="jsgrid-cell jsgrid-align-right" style="width: 50px;">{{ produit.categorie.nom }}</td>

										<td class="jsgrid-cell jsgrid-align-right" style="width: 300px;">{{ produit.description }}</td>
										<td class="jsgrid-cell" style="width: 50px;">{{ produit.prix }}
										</td>
										<td class="jsgrid-cell jsgrid-align-center" style="width: 30px;">{{ produit.quantite }}</td>
										<td class="jsgrid-cell jsgrid-align-center" style="width: 30px;">{{ produit.nbAchat }}</td>
										<td class="jsgrid-cell jsgrid-align-center" style="width: 50px;">
											{% if produit.isActive %}
												<input type="checkbox" disabled="" checked>
											{% else %}
												<input type="checkbox" disabled="">
											{% endif %}
										</td>
										<td class="jsgrid-cell jsgrid-align-center" style="width: 100px;">
											{%  if produit.fichtech is not null %}
												<a href="{{ asset(img_path ~ "/fiche_technique/" ~ produit.fichtech) }}" download="fiche_technique">
													<strong>{{ produit.fichtech }}</strong>
												</a>
											{% else %}
												pas de fiche
											{% endif %}
										</td>
										<td class="jsgrid-cell jsgrid-control-field jsgrid-align-center" style="width: 100px;">
											<a class="animsition-link" href="{{ path('produits_edit', { 'id': produit.id }) }}">
												<i class="icon md-edit  " aria-hidden="true" style="font-size: 25px;"></i>
											</a>
											<a class="animsition-link" href="{{ path('produits_delete', { 'id': produit.id }) }}">
												<i class="icon md-delete  " aria-hidden="true" style="font-size: 25px;"></i>
											</a>
											'

										<!-- Modal -->
											<!-- End Modal -->
										</td>
									</tr>
								{% endfor %}
							</table>
							<div class="navigation">
								{{ knp_pagination_render(produits) }}
							</div>

						</div>


					</div>
				</div>
				<!-- End Panel Basic -->

			</div>
		</div>
	</div>
{% endblock %}
