{% extends 'BoutiqueBundle::base.html.twig' %}

{% block body %}

<!-- Page -->
<div class="page">
    <div class="page-content">
        <!-- Panel -->
        <div class="panel">
            <div class="panel-body container-fluid">
                <div class="email-title">
                    <img src="{{ asset('template/assets/images/logo-colored2x.png') }}" alt="..." />
                    <h4 class="blue-grey-400 font-weight-400">E_shop</h4>
                </div>
                <div class="card welcome-content">
                    <div class="card-block pl-40 pr-40  mt-30 mb-30">
                        <h2>Bienvenu  Dans e_shop!</h2>
                        <p>
                            Bonjour {{ boutique.email }},
                            Félicitations pour votre inscription à E_shop !
                            Afin d’activer votre compte, veuillez:
                        </p>
                        <a class="btn btn-primary" href="http://127.0.0.1:8000/app_dev.php/boutique/register/{{ boutique.nom }}">Mon compte </a>
                    </div>

                </div>
                <div class="email-more">

                    <div class="email-more-social">
                        <a href="javascript:void(0)"><i class="icon bd-twitter" aria-hidden="true"></i></a>
                        <a href="javascript:void(0)"><i class="icon bd-facebook" aria-hidden="true"></i></a>
                        <a href="javascript:void(0)"><i class="icon bd-linkedin" aria-hidden="true"></i></a>
                        <a href="javascript:void(0)"><i class="icon bd-pinterest" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Panel -->
    </div>
</div>
<!-- End Page -->

{% endblock %}