{% extends 'FrontendBundle:Default:myboutique.html.twig' %}

{% block content %}

	<div class="row">
		<div class="col-lg-9 col-md-9 col-sm-7">
			<h1 class="section-title-inner">
				<span>
					<i class="fa fa-unlock-alt"></i>
					Changer mon mot de passe
				</span>
			</h1>

			<div class="row userInfo">


				<form action="{{ path('password_edit') }}" {{ form_enctype(form) }} method="POST">

                    {% for message in app.session.flashBag.get('motdepass') %}
							<div class="alert alert-success alert-dismissible" role="alert">
								<button type="button" class="close" data-dismiss="alert" aria-label="Close">
									<span aria-hidden="true">×</span>
								</button>
								{{ message }}
							</div>
					{% endfor %}
					{% if form_errors(form.current_password) %}
						<div class="alert dark alert-danger alert-dismissible" role="alert">
							<button type="button" class="close" data-dismiss="alert" aria-label="Close">
								<span aria-hidden="true">×</span>
							</button>
							{{ form_errors(form.current_password) }}
						</div>

					{% endif %}
					{% if form_errors(form.new.first) %}
						<div class="alert dark alert-danger alert-dismissible" role="alert">
							<button type="button" class="close" data-dismiss="alert" aria-label="Close">
								<span aria-hidden="true">×</span>
							</button>
							{{ form_errors(form.new.first) }}
						</div>

					{% endif %}
					<div class="col-xs-12 col-sm-6">
						<div class="form-group required">
							<label for="InputPasswordCurrent">
								Mot de passe actuel
								<sup>
									*
								</sup>
							</label>
							{{ form_widget(form.current_password,{"attr" : {"class":"form-control"} }) }}


						</div>
						<div class="form-group required">
							<label for="InputPasswordnew">
								Nouveau mot de passe
								<sup>
									*
								</sup>
							</label>
							{{ form_widget(form.new.first,{"attr" : {"class":"form-control"} }) }}
						</div>
						<div class="form-group required">
							<label for="InputPasswordnewConfirm">
								Vérification
								<sup>
									*
								</sup>
							</label>
							{{ form_widget(form.new.second,{"attr" : {"class":"form-control"} }) }}

						</div>
					</div>
					<div class="col-lg-12">
						<button type="submit" class="btn   btn-primary">
							<i class="fa fa-save"></i>
							&nbsp; Modifier le mot de passe</button>
					</div>
					{{ form_rest(form) }}
				</form>
				<div class="col-lg-12 clearfix">
					<ul class="pager">
						<li class="previous pull-right">
							<a href="{{ path("list_produit") }}">
								<i class="fa fa-home"></i>
								Continuer vos achats
							</a>
						</li>
						<li class="next pull-left">
							<a href="{{ path("compte") }}">
								&larr; Mon compte</a>
						</li>
					</ul>
				</div>
			</div>
			<!--/row end-->

		</div>
		<div class="col-lg-3 col-md-3 col-sm-5"></div>
	</div>
	<!--/row-->
{% endblock %}
