{% extends 'FrontendBundle:Layouts:layoutBreadcrumps.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}


    {% block content %}

        <div class="container main-container">

            <div class="row">

                <div class="col-lg-9 col-md-9 col-sm-7">
                    <h1 class="section-title-inner"><span><i class="fa fa-lock"></i> Authentification</span></h1>

                    <div class="row userInfo">
                        
                        <div class="col-xs-12 col-sm-6">
                            <h2 class="block-title-2"><span>J'ai déjà un compte</span></h2>
                            <form role="form" class="logForm " action="{{ path("fos_user_security_check",{'boutique':app.request.query.get('boutique') }) }}" method="post">
                                
                                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
                                {% if error %}
                                    <div class="alert alert-danger" role="alert">Mot de passe ou Email incorrect</div>
                                {% endif %}
                                
                                <div class="form-group">
                                    <label>Email</label>
                                    <input type="email" name="_username" class="form-control" placeholder="Email" value="{{ last_username }}">
                                </div>
                                <div class="form-group">
                                    <label>Mot de passe</label>
                                    <input type="password" name="_password" class="form-control" placeholder="Mot de passe">
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox"name="checkbox"  id="remember_me" name="_remember_me" value="on">
                                        Garder ma session active </label>
                                </div>
                                <div class="form-group">
                                    <p><a title="Recover your forgotten password" href="{{ path('fos_user_resetting_request') }}">Mot de passe perdu ? </a></p>
                                </div>
                                <button class="btn btn-primary" href="account.html" type="submit"><i class="fa fa-sign-in"></i> Se connecter</button>

                            </form>
                        </div>
                                
                        <div class="col-xs-12 col-sm-6">
                            <h2 class="block-title-2"> Pas encore inscrit ? </h2>

                            <em>
                                nous vous invitons à vous inscrire<br/>
                                afin de passer votre commande.<br>
                            </em>
                            <a href="{{ path('fos_user_registration_register') }}"
                               class="btn btn-primary" style="margin-top: 10px"> <i class="fa fa-user"></i> S'inscrire</a>
                        </div>
                               
                        
                    </div>
                    <!--/row end-->

                </div>

                <div class="col-lg-3 col-md-3 col-sm-5"></div>
            </div>
            <!--/row-->

            <div style="clear:both"></div>
        </div>
        <!-- /wrapper -->
    {% endblock content %}
